@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.area .container.type_cart, #fengso-Cart .cart_list_block, #fengso-Cart .cart_list_block > .cart_list_container, #fengso-Cart .cart_list_block > .cart_list_container > .cart_title_block, #fengso-Cart .cart_list_block > .cart_list_container > .cart_detail_title_block, #fengso-Cart .cart_list_block > .cart_course_container, #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block, #fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block, #fengso-Cart .cart_list_block > .cart_list_total_container, #fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block, #fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block, #fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .item, #fengso-Cart .nothing_block, #fengso-Cart .anti_fraud_block, #fengso-Cart .checker_block, #fengso-Cart .checker_block .checker_container, #fengso-Cart .button_block, #fengso-Cart .info_block, #fengso-Cart .order_block, #fengso-Cart .order_block .order_list, #fengso-Cart .order_block .order_list .item, #fengso-Cart .order_block .order_list .item > .content, .input_list.cols_2, .input_list > .input_block, .input_list > .input_block .cols_2, .input_list > .input_block .title_col, .input_list > .input_block .input_col, .input_list > .input_block .inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.cart_head {
  background-color: #F6F7F9;
  overflow: visible;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 1300px;
  padding: 20px 10px 10px;
}

.area .container.type_cart {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1300px;
  padding: 40px 10px;
  position: relative;
}

@media all and (max-width: 1301px) {
  .area .container.type_cart {
    width: 100%;
    padding: 40px 10px 10px;
  }
}

@media all and (max-width: 861px) {
  .area .container.type_cart {
    width: 100%;
    padding: 25px 0px 10px;
  }
}

@media all and (max-width: 1301px) {
  .area .container {
    width: 100%;
    padding: 10px 10px 10px;
  }
}

#fengso-Cart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
  line-height: 20px;
}

#fengso-Cart .bread_crumb_block .bread_crumb .bread_crumb_item {
  font-size: 14px;
}

#fengso-Cart .title_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  padding: 36px 0  10px;
}

@media all and (max-width: 1301px) {
  #fengso-Cart .title_block {
    padding: 24px   15px 10px;
  }
}

#fengso-Cart .title_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  color: #222;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

#fengso-Cart .title_block > .title i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 10px 0 0;
}

#fengso-Cart .title_block > .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  padding: 14px 0 0;
  letter-spacing: 2px;
  line-height: 26px;
}

#fengso-Cart .title_block .tip {
  color: #FF7757;
}

#fengso-Cart .step_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

#fengso-Cart .step_block > .step_img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#fengso-Cart .step_block > .step_img .dp_tab {
  display: block;
}

@media all and (max-width: 700px) {
  #fengso-Cart .step_block > .step_img .dp_tab {
    display: none;
  }
}

#fengso-Cart .step_block > .step_img .dp_mob {
  display: none;
}

@media all and (max-width: 700px) {
  #fengso-Cart .step_block > .step_img .dp_mob {
    display: block;
  }
}

#fengso-Cart .cart_list_block {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  margin: 15px auto;
  min-height: 50px;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block.head {
    display: none;
  }
}

#fengso-Cart .cart_list_block > .cart_list_container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  padding: 10px;
}

#fengso-Cart .cart_list_block > .cart_list_container .title {
  text-align: center;
  letter-spacing: 2px;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_title_block > .name {
  width: 100%;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_detail_title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_detail_title_block > .status {
  width: 33%;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_detail_title_block > .price {
  width: 33%;
}

#fengso-Cart .cart_list_block > .cart_list_container > .cart_detail_title_block > .control {
  width: 33%;
}

#fengso-Cart .cart_list_block > .cart_list_container.type_checkout > .cart_title_block {
  width: 75%;
}

#fengso-Cart .cart_list_block > .cart_list_container.type_checkout > .cart_detail_title_block {
  width: 25%;
}

#fengso-Cart .cart_list_block > .cart_list_container.type_checkout > .cart_detail_title_block > .status {
  width: 50%;
}

#fengso-Cart .cart_list_block > .cart_list_container.type_checkout > .cart_detail_title_block > .price {
  width: 50%;
}

#fengso-Cart .cart_list_block > .cart_course_container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container {
    width: 100%;
    padding: 25px 0;
  }
  #fengso-Cart .cart_list_block > .cart_course_container:not(:last-child)::after {
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    position: absolute;
    width: 92%;
    border: solid #ccc;
    border-width: 0 0 1px 0;
    margin: 0 auto;
    bottom: 0px;
    right: 0;
    margin-right: auto;
    left: 0;
    margin-left: auto;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 10px;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block {
    width: 100%;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 170px;
  height: 100px;
}

@media all and (max-width: 1000px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_img {
    width: 120px;
    height: 80px;
  }
}

@media all and (max-width: 500px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_img {
    display: none;
    width: 100%;
    height: 50vw;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 180px);
  padding: 5px 15px;
}

@media all and (max-width: 1000px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name {
    width: calc(100% - 120px);
  }
}

@media all and (max-width: 500px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name {
    width: 100%;
    padding: 5px;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  height: 50px;
  max-height: 50px;
  line-height: 25px;
  font-size: 17px;
  overflow: hidden;
  margin: 0 0 15px 0;
  font-weight: bold;
  color: #5c5c5c;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name > .title a {
  color: #5c5c5c;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name > .tags {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_course_block > .course_name > .tags > .tag {
  padding: 2px 5px;
  background-color: #FF7757;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 40%;
  min-height: 40px;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 15px;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .item {
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  text-align: center;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .item {
    width: unset;
    padding: 0 10px;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .status .title {
  display: none;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .status .title {
    width: 100%;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .price {
  color: #FF7757;
  font-size: 22px;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .delet > .delet_box {
  padding: 10px  14px;
  border: 1px solid #aaa;
  color: #aaa;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#fengso-Cart .cart_list_block > .cart_course_container > .cart_detail_block > .delet > .delet_box:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_course_block {
  width: 75%;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_course_block {
    width: 100%;
  }
}

#fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_detail_block {
  width: 25%;
}

#fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_detail_block > .item {
  width: 50%;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_detail_block {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 15px;
  }
  #fengso-Cart .cart_list_block > .cart_course_container.type_checkout > .cart_detail_block > .item {
    width: 120px;
  }
}

#fengso-Cart .cart_list_block > .cart_list_total_container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  padding: 10px;
  position: relative;
}

@media all and (max-width: 861px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block.dp_tab {
    display: none;
  }
}

@media all and (max-width: 1000px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block {
    width: 100%;
  }
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block.deco::after {
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    position: absolute;
    width: 92%;
    border: solid #ccc;
    border-width: 0 0 1px 0;
    margin: 0 auto;
    bottom: 0px;
    right: 0;
    margin-right: auto;
    left: 0;
    margin-left: auto;
  }
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block > .list_title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  text-align: left;
}

@media all and (max-width: 1000px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_title_block > .list_title {
    text-align: center;
  }
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

@media all and (max-width: 1000px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block {
    width: 100%;
    margin: 10px 0;
  }
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .total_title {
  min-width: 160px;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .sale_num {
  width: 285px;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .sale_num .input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  font-size: 16px;
  padding: 1px 3px;
  min-width: 160px;
}

@media all and (max-width: 500px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .sale_num .input {
    max-width: unset;
    margin: 0px 0 4px;
  }
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .sale_num .confirm {
  width: 80px;
  padding: 3px 10px;
  border-radius: 0;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .sale_num .confirm_box {
  width: 75px;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .total_price {
  width: 160px;
  color: #FF7757;
  font-size: 22px;
}

#fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5px 0;
}

@media all and (max-width: 631px) {
  #fengso-Cart .cart_list_block > .cart_list_total_container > .total_detail_title_block > .item {
    text-align: left;
  }
}

#fengso-Cart .nothing_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  margin: 15px auto;
  min-height: 120px;
  position: relative;
}

#fengso-Cart .nothing_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #aaa;
}

#fengso-Cart .anti_fraud_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#fengso-Cart .checker_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 30px 0 0;
}

#fengso-Cart .checker_block .checker_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 290px;
  padding: 22px 24px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
}

@media all and (max-width: 861px) {
  #fengso-Cart .checker_block .checker_container {
    padding: 22px 12px;
  }
}

#fengso-Cart .button_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 20px 0;
}

#fengso-Cart .button_block.type_payment {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#fengso-Cart .button_block .print {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

#fengso-Cart .info_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 0 15px 0;
}

@media all and (max-width: 1301px) {
  #fengso-Cart .info_block {
    padding: 0 15px;
  }
}

#fengso-Cart .info_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #3f3f3f;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  font-size: calc(20px + 0.3vw);
}

#fengso-Cart .order_block {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 15px auto;
  min-height: 50px;
}

@media all and (max-width: 700px) {
  #fengso-Cart .order_block {
    margin: 15px 10px;
  }
}

#fengso-Cart .order_block .order_list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px 35px;
}

@media all and (max-width: 700px) {
  #fengso-Cart .order_block .order_list {
    padding: 15px 10px;
  }
}

#fengso-Cart .order_block .order_list .item {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 60px;
}

@media all and (max-width: 700px) {
  #fengso-Cart .order_block .order_list .item {
    padding: 15px 0px;
  }
}

#fengso-Cart .order_block .order_list .item > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 15%;
  min-width: 100px;
  padding: 5px 0;
}

@media all and (max-width: 700px) {
  #fengso-Cart .order_block .order_list .item > .title {
    width: 100%;
  }
}

#fengso-Cart .order_block .order_list .item > .content {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
  font-size: 18px;
  line-height: 26px;
}

@media all and (max-width: 700px) {
  #fengso-Cart .order_block .order_list .item > .content {
    width: 100%;
    padding: 0 0 0 15px;
  }
}

#fengso-Cart .order_block .order_list .item > .content .tip {
  width: 100%;
  font-size: 20px;
}

#fengso-Cart .order_block .order_list .item > .content .bold {
  color: #444;
  font-weight: bold;
  font-size: 18px;
}

#fengso-Cart .order_block .order_list .item > .content a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

.tips_block {
  color: #FF7757;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin: 6px 0;
}

.tips_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.tips_block > .tips_list {
  width: 100%;
}

.tips_block > .tips_list > .tip {
  padding: 4px 0;
}

@media all and (max-width: 801px) {
  .tips_block > .tips_list > .tip {
    padding: 3px 0;
  }
}

.tip {
  font-weight: bold;
  color: #FF7757;
  padding: 0 5px;
  line-height: 30px;
}

.input_list {
  width: 100%;
}

.input_list.cols_2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input_list.cols_2 > .col {
  overflow: hidden;
  width: 49.5%;
}

@media all and (max-width: 681px) {
  .input_list.cols_2 > .col {
    width: 100%;
  }
}

@media all and (max-width: 801px) {
  .input_list {
    margin: 5px auto 3px;
  }
}

.input_list > .input_block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 100%;
  overflow: auto;
  margin: 8px auto 15px;
}

@media all and (max-width: 801px) {
  .input_list > .input_block {
    padding: 0 10px 5px 0;
  }
}

.input_list > .input_block .cols_2 {
  width: 100%;
}

.input_list > .input_block .cols_2.cols_2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input_list > .input_block .cols_2.cols_2 > .col {
  overflow: hidden;
  width: 49.5%;
}

@media all and (max-width: 681px) {
  .input_list > .input_block .cols_2.cols_2 > .col {
    width: 100%;
  }
}

.input_list > .input_block .title_col {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input_list > .input_block .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px 0;
  font-weight: unset;
  font-size: 16px;
  text-align: left;
  min-height: 40px;
}

@media all and (max-width: 681px) {
  .input_list > .input_block .title.dp_tab {
    display: none;
  }
}

.input_list > .input_block .input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #b8b8b8;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.input_list > .input_block .input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.input_list > .input_block .input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.input_list > .input_block .input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.input_list > .input_block .input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.input_list > .input_block .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.input_list > .input_block .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

.input_list > .input_block .input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

@media all and (max-width: 801px) {
  .input_list > .input_block .input {
    margin: 8px auto;
  }
}

.input_list > .input_block .input:focus {
  border-color: #FF7757;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
          box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
}

.input_list > .input_block .input_col {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.input_list > .input_block .inputs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 180px;
  margin: 15px 0;
  padding: 5px;
}

.input_list > .input_block .inputs .radio_box {
  width: 26px;
  height: 26px;
}

.input_list > .input_block .inputs .radio_box .radio {
  display: none;
}

.input_list > .input_block .inputs .radio_box .radio:checked + .label {
  background-color: #FF7757;
}

.input_list > .input_block .inputs .radio_box .label {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #B9B9B9;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
          box-shadow: inset 0 0 0 4px #fff;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.input_list > .input_block .inputs .radio_box .label {
  cursor: pointer;
}

.input_list > .input_block .inputs > .title {
  padding: 0 12px;
  min-height: unset;
}

.input_list > .input_block button {
  margin: 8px 0;
}

.checker_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  /* The container */
}

.checker_box .checkbox_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: relative;
  padding: 3px 0 0 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checker_box .checkbox_block input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checker_box .checkbox_block:hover input ~ .checkmark {
  background-color: white;
}

.checker_box .checkbox_block .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-width: 1px;
  border-color: #d4d4d4;
  border-style: solid;
}

.checker_box .checkbox_block .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checker_box .checkbox_block input:checked ~ .checkmark {
  background-color: #FF7757;
  border-color: #fff;
}

.checker_box .checkbox_block input:checked ~ .checkmark:after {
  display: block;
}

.checker_box .checkbox_block .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checker_box .text {
  padding: 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.checker_box .text a {
  text-decoration: underline;
}

.checker_box .text.type_m {
  font-size: 20px;
}

@media all and (max-width: 500px) {
  .checker_box .text.type_m {
    font-size: 17px;
  }
}

.checker_box.type_inline {
  padding: 0 0 0 15px;
}

@media all and (max-width: 335px) {
  .checker_box.type_inline {
    padding: 0;
  }
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.focuspoint .lazy {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("images/fengso-loading.svg");
  max-height: 100%;
}

.focuspoint .lazied {
  max-height: unset;
}

@media print {
  .title_block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 1000px;
    padding: 36px 0  10px;
  }
  .title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 1000px;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
  }
  i {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 0 10px 0 0;
  }
  .subtitle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 100%;
    margin: 14px 0 0;
    letter-spacing: 2px;
  }
  .order_block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 15px 0;
    min-height: 50px;
  }
  .order_list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 100%;
    padding: 15px 35px;
  }
  .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 60px;
  }
  .title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 15%;
    min-width: 100px;
    padding: 5px 0;
  }
  .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 5px 0;
    width: 85%;
    font-size: 18px;
    line-height: 26px;
  }
  .bold {
    color: #444;
    font-weight: bold;
    font-size: 18px;
  }
  .tip {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #FF7757;
    padding: 0 5px;
    line-height: 30px;
  }
}
