@charset "UTF-8";
#FengsoIndex .imagine_block .imagine_box, #ITeachContainer > .input_list > .input_block, #ITeachContainer > .btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.slider_banner {
  overflow: visible;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 1300px;
  padding: 40px 10px;
  position: relative;
  z-index: 0;
}

.area .container.type_banner {
  width: 100%;
  padding: 0px 0px;
}

.area .container.type_video {
  z-index: 1;
  overflow: visible;
  padding: 0px 15px;
}

.area .container.type_full {
  width: 100%;
  padding: 50px 0px 10px;
}

.area .container.type_imagine {
  width: 100%;
  padding: 0px 0px;
}

.area .container.gray {
  background-color: #E3E3E3;
}

@media all and (max-width: 1301px) {
  .area .container {
    width: 100%;
  }
}

.video_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.video_box iframe {
  width: 100%;
  height: 100%;
}

.focuspoint .lazy {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("images/fengso-loading.svg");
  max-height: 100%;
}

.focuspoint .lazied {
  max-height: unset;
}

@media all and (max-width: 920px) {
  #FengsoIndex .banner_slide_block .banner_slide_container {
    height: 54vw;
  }
}

#FengsoIndex .banner_slide_block .banner_slide_container .swiper-wrapper a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#FengsoIndex .banner_slide_block .banner_slide_container .swiper-wrapper a:hover {
  opacity: 1;
}

@media all and (max-width: 920px) {
  #FengsoIndex .banner_slide_block .banner_slide_container .swiper-wrapper a {
    height: 100%;
  }
}

#FengsoIndex .banner_slide_block .banner_slide_container .swiper-wrapper .swiper-slide {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media all and (max-width: 920px) {
  #FengsoIndex .banner_slide_block .banner_slide_container .swiper-wrapper .swiper-slide img {
    height: 100%;
  }
}

#FengsoIndex .banner_video_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: -185px;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .banner_video_block {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -15px;
  }
}

#FengsoIndex .banner_video_block .video_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.342));
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.342));
  width: 390px;
  height: 220px;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .banner_video_block .video_box {
    width: 100%;
    height: 55vw;
  }
}

#FengsoIndex .content_block {
  width: 1300px;
  margin: 0 auto;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .content_block {
    width: 100%;
  }
}

#FengsoIndex .content_block .title_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: #363636;
}

#FengsoIndex .content_block .title_block > .title_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: calc(16px + 0.5vw);
  font-weight: 600;
  margin: 10px 0;
  color: #5e6f79;
}

#FengsoIndex .content_block .title_block > .title_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-right: 10px;
}

#FengsoIndex .content_block .title_block > .title_box > .title_deco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 80px;
  height: 1px;
  background-color: #3b4952;
  margin: 11px 0 0;
}

#FengsoIndex .content_block .title_block > .more_box {
  font-size: 13px;
}

#FengsoIndex .content_block .title_block > .more_box i {
  color: #505050;
  padding-left: 8px;
  font-size: 12px;
}

#FengsoIndex .course_list_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .course_list_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 701px) {
  #FengsoIndex .course_list_block {
    padding: 0px 5px;
  }
}

#FengsoIndex .course_list_block .course_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 300px;
  margin: 0 0px 25px;
  padding: 0 12px 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .course_list_block .course_block {
    margin: 0 0px 20px;
  }
}

@media all and (max-width: 701px) {
  #FengsoIndex .course_list_block .course_block {
    padding: 0 5px 0;
  }
}

#FengsoIndex .course_list_block .course_block a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

#FengsoIndex .course_list_block .course_block a:hover {
  opacity: 1;
}

#FengsoIndex .course_list_block .course_block.preorder {
  position: relative;
}

#FengsoIndex .course_list_block .course_block.preorder::after {
  content: '+預購課程';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 6px 8px;
  color: #fff;
  font-size: 14px;
  background-color: #FEA226;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 12px;
  letter-spacing: 2px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

#FengsoIndex .course_list_block .course_block.preorder::after:hover {
  opacity: .8;
}

@media all and (max-width: 701px) {
  #FengsoIndex .course_list_block .course_block.preorder::after {
    letter-spacing: 0px;
    padding: 3px 4px;
    font-size: 12px;
    right: 5px;
  }
}

#FengsoIndex .course_list_block .course_block .image {
  width: 100%;
  height: 165px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media all and (max-width: 601px) {
  #FengsoIndex .course_list_block .course_block .image {
    height: 26vw;
  }
}

#FengsoIndex .course_list_block .course_block .image img {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#FengsoIndex .course_list_block .course_block .image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#FengsoIndex .course_list_block .course_block .image:hover {
  opacity: 1;
}

#FengsoIndex .course_list_block .course_block .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 25px 0 10px;
  line-height: 24px;
  height: 52px;
  overflow: hidden;
  white-space: pre-wrap;
}

@media all and (max-width: 580px) {
  #FengsoIndex .course_list_block .course_block .content {
    font-size: 15px;
    margin: 15px 0 4px;
  }
}

#FengsoIndex .course_list_block .course_block .infos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#FengsoIndex .course_list_block .course_block .infos > .tips {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  color: rgba(85, 85, 85, 0.63);
}

@media all and (max-width: 601px) {
  #FengsoIndex .course_list_block .course_block .infos > .tips {
    padding: 0 0 5px 0;
  }
}

#FengsoIndex .course_list_block .course_block .infos > .tips > .element {
  padding: 0 5px 0 0;
}

#FengsoIndex .course_list_block .course_block .infos > .tips > .element i {
  padding: 0 5px 0 0;
}

@media all and (max-width: 601px) {
  #FengsoIndex .course_list_block .course_block .infos > .tips > .count {
    display: none;
  }
}

#FengsoIndex .course_list_block .course_block .infos > .price {
  font-size: calc(19px + 0.4vw);
  color: #FF7757;
}

#FengsoIndex .course_list_block .course_block .infos > .price > .preprice {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 13px;
  color: #222222;
  padding-right: 4px;
  line-height: 22px;
}

#FengsoIndex .course_list_block .course_block .infos > .price > .preprice .onsale {
  font-size: 12px;
  padding: 2px 4px;
  background-color: #FEA226;
  color: #fff;
  margin-left: 6px;
}

@media all and (max-width: 391px) {
  #FengsoIndex .course_list_block .course_block .infos > .price > .preprice {
    padding: 0 0 5px 0;
    width: 100%;
  }
}

#FengsoIndex .course_list_block .course_block .teacher_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  float: left;
  padding: 5px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

#FengsoIndex .course_list_block .course_block .teacher_block:hover {
  opacity: .8;
}

#FengsoIndex .course_list_block .course_block .teacher_block .teacher_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
}

#FengsoIndex .course_list_block .course_block .teacher_block .intro {
  width: calc(100% - 70px);
}

#FengsoIndex .course_list_block .course_block .teacher_block .intro .name {
  padding: 2px 0;
}

#FengsoIndex .course_list_block .course_block .teacher_block .intro > .intro_content {
  color: #a1a1a1;
  font-size: 15px;
}

#FengsoIndex .teacher_list_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .teacher_list_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px 0;
  }
}

#FengsoIndex .teacher_list_block a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

#FengsoIndex .teacher_list_block a:hover {
  opacity: 1;
}

#FengsoIndex .teacher_list_block .teacher_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 400px;
  min-height: 220px;
  padding: 60px 10px 15px;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .teacher_list_block .teacher_block {
    margin: 0 10px 20px;
  }
}

@media all and (max-width: 401px) {
  #FengsoIndex .teacher_list_block .teacher_block {
    margin: 0 0px 20px;
  }
}

#FengsoIndex .teacher_list_block .teacher_block:hover {
  -webkit-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
  -webkit-filter: drop-shadow(0px 5px 4px rgba(27, 27, 27, 0.199));
  filter: drop-shadow(0px 5px 4px rgba(27, 27, 27, 0.199));
}

#FengsoIndex .teacher_list_block .teacher_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  min-height: 170px;
}

#FengsoIndex .teacher_list_block .teacher_block .content_box .major_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin: -60px 0 -30px 0;
}

@media all and (max-width: 401px) {
  #FengsoIndex .teacher_list_block .teacher_block .content_box .major_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px 0;
    left: 0;
    width: 100%;
    margin: -70px 0 -40px 0;
  }
}

#FengsoIndex .teacher_list_block .teacher_block .content_box .major_block > .teacher_avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  border: 4px solid #FFB636;
  border-radius: 100px;
}

#FengsoIndex .teacher_list_block .teacher_block .content_box .major_block > .teacher_name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  color: #FF7757;
  padding: 10px;
  font-size: 18px;
}

@media all and (max-width: 401px) {
  #FengsoIndex .teacher_list_block .teacher_block .content_box .major_block > .teacher_name {
    width: 100%;
    text-align: center;
  }
}

#FengsoIndex .teacher_list_block .teacher_block .content_box .minor_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 10px 0;
  line-height: 24px;
  font-size: 14px;
}

#FengsoIndex .teacher_list_block .teacher_block .content_box hr {
  margin: 40px 0 20px;
}

#FengsoIndex .pager_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 20px 0;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .pager_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 580px) {
  #FengsoIndex .pager_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0;
  }
}

@media all and (max-width: 580px) {
  #FengsoIndex .pager_block {
    padding: 0 0;
  }
}

#FengsoIndex .pager_block .pager {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  height: 60px;
}

#FengsoIndex .pager_block .pager a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

#FengsoIndex .pager_block .pager .pager_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 12px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #dadada;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  outline: none;
}

#FengsoIndex .pager_block .pager .pager_number.last {
  margin-right: 0;
  font-size: 14px;
  padding: 13px 15px 13px 25px;
}

#FengsoIndex .pager_block .pager .pager_number:hover {
  background-color: #172532;
  color: #fff;
}

#FengsoIndex .pager_block.type_light .pager_number {
  background-color: #fff;
}

#FengsoIndex .imagine_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 370px;
}

@media all and (max-width: 801px) {
  #FengsoIndex .imagine_block {
    height: auto;
  }
}

#FengsoIndex .imagine_block .imagine_box {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #FF7757;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .imagine_block .imagine_box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 801px) {
  #FengsoIndex .imagine_block .imagine_box {
    width: 100%;
    padding: 40px 10px;
  }
}

#FengsoIndex .imagine_block .imagine_box.imagine {
  background-image: url("../img/index_imagine.jpg");
}

@media all and (max-width: 1301px) {
  #FengsoIndex .imagine_block .imagine_box.imagine {
    background-position: right;
  }
}

@media all and (max-width: 801px) {
  #FengsoIndex .imagine_block .imagine_box.imagine {
    display: none;
  }
}

#FengsoIndex .imagine_block .imagine_box .join_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 320px;
  margin-right: 130px;
  color: #fff;
  position: relative;
  letter-spacing: 3px;
}

@media all and (max-width: 1301px) {
  #FengsoIndex .imagine_block .imagine_box .join_box {
    margin-right: 0px;
  }
}

#FengsoIndex .imagine_block .imagine_box .join_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  font-size: calc(18px + 0.4vw);
  font-weight: 600;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .title:before, #FengsoIndex .imagine_block .imagine_box .join_box > .title::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 70px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .title:before {
  left: 0px;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .title:after {
  right: 0px;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 40px 0;
  padding-left: 10px;
  letter-spacing: 10px;
  text-align: left;
  line-height: 28px;
  font-size: calc(16px + 0.05vw);
}

#FengsoIndex .imagine_block .imagine_box .join_box > .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border: 2px solid #fff;
  text-align: center;
  padding: 20px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  color: #fff;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .btn:hover {
  background-color: #fff;
  color: #5a5a5a;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .btn > .title {
  font-size: calc(18px + 0.2vw);
}

#FengsoIndex .imagine_block .imagine_box .join_box > .btn > .subtitle {
  letter-spacing: 1px;
  font-size: 13px;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .btn:hover {
  opacity: 1;
}

#FengsoIndex .imagine_block .imagine_box .join_box > .i_want_teach {
  display: none;
}

#FengsoIndex .article_list_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#FengsoIndex .article_list_block a:hover {
  opacity: .9;
}

#FengsoIndex .article_list_block .article_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 384px;
}

#FengsoIndex .article_list_block .article_block .image_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  height: 250px;
}

#FengsoIndex .article_list_block .article_block .image_box img {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#FengsoIndex .article_list_block .article_block .image_box img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#FengsoIndex .article_list_block .article_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  padding: 20px  32px;
}

#FengsoIndex .article_list_block .article_block .content_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #616161;
  line-height: 26px;
  line-height: 29px;
  height: 52px;
  overflow: hidden;
}

#FengsoIndex .article_list_block .article_block .content_box > .tips {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 13px;
  color: #9c9c9c;
  padding: 10px 0 0 0;
}

#FengsoIndex .article_list_block .article_block .content_box > .tips > .tags {
  padding: 5px 12px;
  background: #182432;
  color: #fff;
}

#FengsoIndex .article_list_block .article_block .content_box > .article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  line-height: 26px;
  font-size: 15px;
  color: #707070;
  letter-spacing: 3px;
  max-height: 155px;
  overflow: hidden;
}

.banner_slide_container .swiper-pagination-bullet {
  position: relative;
  bottom: 30px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-filter: drop-shadow(1px 1px 0px #555555);
  filter: drop-shadow(1px 1px 0px #555555);
  color: #fff;
  font-size: 17px;
  margin: 0 10px !important;
}

.banner_slide_container .swiper-pagination-bullet::before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin-left: 0px;
  bottom: -22px;
  width: 28px;
  height: 1px;
  background-color: #fff;
  border: 1px solid white;
  position: absolute;
  opacity: 1;
}

.banner_slide_container .swiper-pagination-bullet:last-child::before {
  width: 10px;
}

.banner_slide_container .swiper-pagination-bullet::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  left: 1px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  bottom: -25px;
  width: 8px;
  height: 8px;
  position: absolute;
  opacity: 0;
}

.banner_slide_container .swiper-pagination-bullet-active {
  background: #ffffff00;
}

.banner_slide_container .swiper-pagination-bullet-active::after {
  background-color: white;
  opacity: 1;
}

.banner_slide_container .swiper_overflower {
  overflow: hidden;
}

.banner_slide_container .swiper-button-prev,
.banner_slide_container .swiper-button-next {
  background-size: 140%;
  outline: none;
}

.banner_slide_container .swiper-button-prev.swiper-button-disabled,
.banner_slide_container .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

#ITeachContainer {
  width: 100%;
}

#ITeachContainer > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #3f3f3f;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  font-size: calc(20px + 0.3vw);
}

#ITeachContainer > .input_list {
  width: 100%;
  margin: 15px auto 10px;
}

@media all and (max-width: 801px) {
  #ITeachContainer > .input_list {
    margin: 5px auto 3px;
  }
}

#ITeachContainer > .input_list > .input_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 10px 10px 0;
  width: 100%;
  overflow: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ITeachContainer > .input_list > .input_block > .col2 {
  overflow: hidden;
  width: 48%;
}

@media all and (max-width: 681px) {
  #ITeachContainer > .input_list > .input_block > .col2 {
    width: 100%;
  }
}

@media all and (max-width: 801px) {
  #ITeachContainer > .input_list > .input_block {
    padding: 0 10px 5px 0;
  }
}

#ITeachContainer > .input_list > .input_block .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 5px 0 0;
  font-weight: unset;
  font-size: 16px;
  text-align: left;
}

#ITeachContainer > .input_list > .input_block .input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  margin: 15px auto 10px;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #b8b8b8;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
}

#ITeachContainer > .input_list > .input_block .input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#ITeachContainer > .input_list > .input_block .input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#ITeachContainer > .input_list > .input_block .input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#ITeachContainer > .input_list > .input_block .input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#ITeachContainer > .input_list > .input_block .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#ITeachContainer > .input_list > .input_block .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

#ITeachContainer > .input_list > .input_block .input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

@media all and (max-width: 801px) {
  #ITeachContainer > .input_list > .input_block .input {
    margin: 8px auto;
  }
}

#ITeachContainer > .input_list > .input_block .input:focus {
  border-color: #FF7757;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
          box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
}

#ITeachContainer > .tips_block {
  color: #7e7e7e;
  font-size: 17px;
  line-height: 24px;
}

@media all and (max-width: 801px) {
  #ITeachContainer > .tips_block {
    font-size: 15px;
    line-height: 20px;
  }
}

#ITeachContainer > .tips_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

#ITeachContainer > .tips_block > .tips_list {
  width: 100%;
}

#ITeachContainer > .tips_block > .tips_list > .tip {
  padding: 4px 0;
}

@media all and (max-width: 801px) {
  #ITeachContainer > .tips_block > .tips_list > .tip {
    padding: 3px 0;
  }
}

#ITeachContainer > .btns {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 10px;
}

@media all and (max-width: 801px) {
  #ITeachContainer > .btns {
    padding: 10px 0 5px;
  }
}
