@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#fengso-productDetail .course_main_block .course_list, #fengso-productDetail .course_main_block .course_list .rate_block, #fengso-productDetail .course_main_block .course_list .rate_block .act, #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item, #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.chapter_list .content:first-child .title, #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .infos, #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .content, #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_block, #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements, #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box, #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box > .count_item, #fengso-productDetail .belt_blocks .belt_blocks_container > .price .original__price__block, #fengso-productDetail .teacher_block .teacher_box .action_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#fengso-productDetail .course__share__block, #fengso-productDetail .course__share__block .course__share__price, #fengso-productDetail .course__share__block .course__share__buy__soon, #fengso-productDetail .course__share__block .course__share__box, #fengso-productDetail .course__share__block .copy__href, #fengso-productDetail .course__share__block .link__box, #fengso-productDetail .copy__success {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

/* This text is in Century Gothic */
.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.course_intro {
  background-color: #F1F1F1;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 1300px;
  padding: 40px 20px;
}

.area .container.type_2 {
  width: 100%;
  padding: 30px 0px 0px;
  position: relative;
}

.area .container.type_2:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.area .container.type_3 {
  width: 100%;
  padding: 40px 20px;
}

.area .container.type_4 {
  padding: 50px 20px 60px;
  position: relative;
}

@media all and (max-width: 1301px) {
  .area .container.type_4 {
    padding: 30px 20px 60px;
  }
}

@media all and (max-width: 1301px) {
  .area .container {
    width: 100%;
    padding: 30px 0px 10px;
  }
}

.video_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 15px 0 0;
  overflow: hidden;
}

.video_box iframe {
  width: 100%;
  height: 100%;
}

#fengso-productDetail .course_main_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block {
    width: 100%;
  }
}

#fengso-productDetail .course_main_block .col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
}

#fengso-productDetail .course_main_block .course_info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 853px;
  overflow: hidden;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_info {
    width: 100%;
  }
}

#fengso-productDetail .course_main_block .course_info .info_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_info .info_block {
    padding: 0 15px;
  }
}

#fengso-productDetail .course_main_block .course_info .info_block .course_title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 28px 0 5px;
  line-height: 26px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_info .info_block .course_title {
    margin: 12px 0 5px;
  }
}

#fengso-productDetail .course_main_block .course_info .info_block .course_title .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: 600;
  color: #363636;
  max-width: 80%;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_info .info_block .course_title .title {
    width: 100%;
    max-width: unset;
  }
}

#fengso-productDetail .course_main_block .course_info .info_block .course_title .course_popularity {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  float: right;
  width: 20%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #a1a1a1;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_info .info_block .course_title .course_popularity {
    margin: 10px 0 5px;
    width: 200px;
    max-width: 300px;
  }
}

#fengso-productDetail .course_main_block .course_info .info_block .course_title .course_popularity > .popularity_item {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#fengso-productDetail .course_main_block .course_info .info_block .course_title .course_popularity > .popularity_item:hover {
  color: #FF7757;
}

#fengso-productDetail .course_main_block .course_info .info_block .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 15px;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 100%;
}

#fengso-productDetail .course_main_block .course_info .video_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 5px 0 0;
}

#fengso-productDetail .course_main_block .course_info .video_block .course_video {
  height: 480px;
}

@media all and (max-width: 710px) {
  #fengso-productDetail .course_main_block .course_info .video_block .course_video {
    height: 57vw;
    max-height: 400px;
  }
}

#fengso-productDetail .course_main_block .course_list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 39px 0px 0 0px;
  width: 370px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list {
    width: 100%;
    margin: 30px 0 0;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 102px;
  padding: 20px 0px 0 0px;
  position: relative;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .rate_block.dp-tab {
    display: none;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block.dp-mob {
  display: none;
  height: 70px;
  padding: 10px 0px  0px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .rate_block.dp-mob {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    justify-content: center;
  }
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .rate_block {
    padding: 0px;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block .act {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  padding: 0px;
  position: relative;
  width: 50%;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .rate_block .act {
    width: 50%;
    max-width: 150px;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 36px;
  padding: 10px 0;
}

#fengso-productDetail .course_main_block .course_list .rate_block .act_name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: auto;
  padding-left: 10px;
  color: #a1a1a1;
}

#fengso-productDetail .course_main_block .course_list .rate_block .rate {
  color: #FF7757;
}

#fengso-productDetail .course_main_block .course_list .rate_block .add_to_list {
  color: #BCBDBC;
  cursor: pointer;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .rate_block .add_to_list {
    width: 160px;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block .add_to_list.active {
  color: #FF7757;
}

#fengso-productDetail .course_main_block .course_list .rate_block .add_to_list.animate::before {
  content: 'Added';
  position: absolute;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 10px;
  opacity: 0;
  animation-name: plus;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: normal;
  -webkit-animation-name: plus;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: normal;
}

@keyframes plus {
  0% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: -45px;
    opacity: 0;
  }
}

@-webkit-keyframes plus {
  0% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: -45px;
    opacity: 0;
  }
}

#fengso-productDetail .course_main_block .course_list .rate_block::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 1px;
  height: 50px;
  background-color: #BCBDBC;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  top: 20px;
  position: absolute;
  display: none;
}

#fengso-productDetail .course_main_block .course_list .list_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  height: 480px;
  background-color: #F1F1F1;
  padding: 0px 5px 0;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .list_block {
    height: 320px;
  }
}

#fengso-productDetail .course_main_block .course_list .list_block::after {
  content: ' ';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  width: 100%;
  height: 28%;
  bottom: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.541)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0));
  pointer-events: none;
}

#fengso-productDetail .course_main_block .course_list .list_block .list_tab {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  padding: 0px 15px;
}

#fengso-productDetail .course_main_block .course_list .list_block .list_tab .tab_panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  font-size: 18px;
  padding: 25px 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #BCBDBC;
  cursor: pointer;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .list_block .list_tab .tab_panel {
    padding: 18px 0;
    font-size: 16px;
  }
}

#fengso-productDetail .course_main_block .course_list .list_block .list_tab .tab_panel a {
  color: #888888;
}

#fengso-productDetail .course_main_block .course_list .list_block .list_tab .tab_panel.active {
  border-color: #FF7757;
  font-weight: 600;
}

#fengso-productDetail .course_main_block .course_list .list_block .list_tab .tab_panel.active a {
  color: #464646;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  display: none;
  padding: 10px 0 0 0;
  width: 100%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 8px 0;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #868686;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(196, 196, 196, 0.9);
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list::-webkit-scrollbar-thumb {
  background: #747474;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list.active {
  display: block;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 10px 0 10px 24px;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item {
    padding: 4px 0 4px 24px;
    font-size: 14px;
  }
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item:not(:last-child)::after {
  content: '';
  position: relative;
  bottom: -12px;
  width: 100%;
  height: 1px;
  left: -15px;
  background-color: #dbdbdb;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item:hover {
  background-color: #f8f8f8;
  opacity: .9;
  -webkit-transform: translate(-1px, 0px);
      -ms-transform: translate(-1px, 0px);
          transform: translate(-1px, 0px);
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.active {
  -webkit-box-shadow: 5px 5px 10px rgba(82, 82, 82, 0.301);
          box-shadow: 5px 5px 10px rgba(82, 82, 82, 0.301);
  background-color: #fff;
  width: 100%;
  -webkit-transform: translate(-10px, 0px);
      -ms-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  pointer-events: none;
  cursor: default;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.active .icon .play_btn {
  background: #FF7757;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.active .icon .play_btn .triangle {
  border-color: transparent transparent transparent #ffffff;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.active::after {
  opacity: 0;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.chapter_list:hover {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  background-color: unset;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item.chapter_list .content:first-child .title {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bold;
  -webkit-line-clamp: 2;
  /* 設定欲顯示的行數，超出則顯示省略符號(...)。 */
  -webkit-box-orient: vertical;
  /* 設定 box 的子元素，是由上往下垂直排列。 */
  display: -webkit-box;
  /* 設定 display 為 -webkit-box 元素。 */
  overflow: hidden;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .chapter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .chapter i {
  padding: 0 5px 0 0;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .infos {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4px 10px 4px 0;
  color: #6e6e6e;
  width: 100%;
  max-width: 50px;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .time {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  text-align: right;
  color: #FF7757;
  padding: 2px 0 4px 0;
  min-width: 50px;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .content {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  width: 100%;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-line-clamp: 2;
  /* 設定欲顯示的行數，超出則顯示省略符號(...)。 */
  -webkit-box-orient: vertical;
  /* 設定 box 的子元素，是由上往下垂直排列。 */
  display: -webkit-box;
  /* 設定 display 為 -webkit-box 元素。 */
  overflow: hidden;
  padding: 4px 0px 4px 0;
  max-height: 56px;
  width: calc(100% - 60px);
  line-height: 24px;
  color: #363636;
  font-size: 15px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .title {
    font-size: 14px;
  }
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .title i {
  padding: 0 4px 0 0;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  margin: 0 0px 0px 0;
  position: relative;
  width: 25px;
  max-height: 42px;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .play_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .play_btn .triangle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  position: absolute;
  left: 10px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #5e6f79;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .collapse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border: solid 1px #a1a1a1;
  position: relative;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .collapse:hover {
  background: #5e6f79;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .collapse:hover i {
  color: #fff;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .collapse .square {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 5px;
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .collapse .square i {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .locker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: center;
}

#fengso-productDetail .course_main_block .course_list .list_block .course_type_list .course_list_content > .course_list_item .icon .locker i {
  color: #5e6f79;
}

#fengso-productDetail .belt_blocks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  background: #FF7757;
  position: relative;
  z-index: 3;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks {
    padding: 35px 0 15px;
  }
}

#fengso-productDetail .belt_blocks:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#fengso-productDetail .belt_blocks .belt_blocks_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container {
    width: 100%;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_block {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 220px;
  position: relative;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_block {
    padding: 5px 0 15px;
    width: unset;
  }
}

@media all and (max-width: 659px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_block {
    width: 33%;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 660px;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 210px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item {
    width: 33%;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  padding: 5px 0 10px;
  text-align: center;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box {
    width: 100%;
    text-align: center;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  color: #5f3617;
  font-weight: 600;
  font-size: 15px;
  height: 18px;
  position: relative;
  margin: 0px 0 10px 0;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box > .title {
    text-align: center;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box > .imagine {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 0 0;
  font-size: 2em;
  color: #fff;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .imagine_box > .imagine {
    font-size: 26px;
    padding: 5px 0 0 0;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    width: 100%;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box > .count_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box > .count_item > .number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-size: 2em;
  padding: 0px 0 10px;
  color: #fff;
  text-align: center;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box > .count_item > .number {
    font-size: 1.4em;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .belt_elements > .belt_block_item > .count_box > .count_item > .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: .9em;
  color: #fff;
  text-align: center;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price {
  -webkit-box-shadow: 1px 1px 12px rgba(63, 63, 63, 0.301);
          box-shadow: 1px 1px 12px rgba(63, 63, 63, 0.301);
  -webkit-transform: skewX(-14deg) scale(1, 1.1);
      -ms-transform: skewX(-14deg) scale(1, 1.1);
          transform: skewX(-14deg) scale(1, 1.1);
  background-color: #fff;
  overflow: hidden;
  width: auto;
  max-width: 250px;
  height: 160px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .price {
    min-width: 100%;
    -webkit-transform: skewX(0deg) scale(1);
        -ms-transform: skewX(0deg) scale(1);
            transform: skewX(0deg) scale(1);
    height: unset;
    padding: 15px 0;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price a {
  color: #fff;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .original__price__block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skewX(14deg) scale(1, 0.9);
      -ms-transform: skewX(14deg) scale(1, 0.9);
          transform: skewX(14deg) scale(1, 0.9);
  width: 100%;
  padding: 0 20px;
  text-decoration: line-through;
  text-align: center;
  color: #b9b9b9;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 20px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .price .original__price__block {
    text-align: center;
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: unset;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .original__price__block .original__price__title {
  position: unset;
  padding: 0px 5px;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .original__price__block .original__price__price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 5px;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .col {
  -webkit-transform: skewX(14deg) scale(1, 0.9);
      -ms-transform: skewX(14deg) scale(1, 0.9);
          transform: skewX(14deg) scale(1, 0.9);
  padding: 15px 20px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .price .col {
    text-align: center;
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
    padding: 0;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .col > .title {
  position: unset;
  width: 100%;
  color: #444444;
  line-height: 20px;
  padding: 0px 0 6px 0;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .price .col > .title {
    padding: 6px 0;
    font-size: 20px;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .price .col > .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 40px;
  color: #FF7757;
  text-align: center;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 350px;
  padding: 0px 0 0 30px;
  color: #fff;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon {
    width: auto;
    padding: 30px 0  5px;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon a {
  color: #fff;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  border: 2px solid #fff;
  padding: 20px 0;
  height: 90px;
  cursor: pointer;
}

@media all and (max-width: 580px) {
  #fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2 {
    height: 70px;
    padding: 12px 0  0;
  }
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover {
  background-color: #fff;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover .title, #fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover .subtitle, #fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover .plus, #fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover .imagine {
  color: #FF7757;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .col2:hover .title {
  font-weight: 600;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .buy_box {
  width: 190px;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .buy_box > .title {
  position: unset;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .buy_box > .subtitle {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .cart_box {
  margin-left: 10px;
  width: 100px;
  text-align: center;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .cart_box > .plus {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

#fengso-productDetail .belt_blocks .belt_blocks_container > .buysoon .cart_box > .imagine {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  padding: 8px 0 0 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
}

#fengso-productDetail .announcement_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: #F1F1F1;
  padding: 40px 0px;
  position: relative;
  z-index: 1;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block {
    padding: 10px 0px;
  }
}

#fengso-productDetail .announcement_block .announcement_control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  padding: 10px 0 0 0;
  background-color: #F1F1F1;
}

#fengso-productDetail .announcement_block .announcement_control.active .controller i {
  margin: 3px 0px 0px  -15px;
}

#fengso-productDetail .announcement_block .announcement_control .controller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 35px;
  overflow: hidden;
  position: relative;
  padding: 10px 0 0;
  z-index: 1;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .announcement_block .announcement_control .controller:hover {
  color: #FF7757;
}

#fengso-productDetail .announcement_block .announcement_control .controller i {
  position: absolute;
  color: #FF7757;
  margin: -7px 0px 0px  -15px;
  font-size: 20px;
}

#fengso-productDetail .announcement_block .announcement_control .controller::after {
  content: ' ';
  position: absolute;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  width: 100%;
  height: 8px;
  bottom: -8px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(black), color-stop(black), color-stop(#080808), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), black, black, #080808, rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), black, black, #080808, rgba(255, 255, 255, 0.2));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), black, black, #080808, rgba(255, 255, 255, 0.2));
  -webkit-filter: drop-shadow(1px -6px 5px white);
  filter: drop-shadow(1px -6px 5px white);
  background-blend-mode: lighten;
}

#fengso-productDetail .announcement_block .announcement_control::after {
  content: ' ';
  position: absolute;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  width: 100%;
  height: 3px;
  bottom: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(black), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2), black, rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2), black, rgba(255, 255, 255, 0.2));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), black, rgba(255, 255, 255, 0.2));
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.836));
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.836));
}

#fengso-productDetail .announcement_block .announcement_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 1300px;
  margin: 0 auto;
  height: 42px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 170px;
  }
}

#fengso-productDetail .announcement_block .announcement_container.active {
  height: 100px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container.active {
    height: 370px;
  }
}

#fengso-productDetail .announcement_block .announcement_container.active .content_list {
  padding: 0;
}

#fengso-productDetail .announcement_block .announcement_container .title_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 170px;
  padding: 40px 20px 40px 15px;
  position: relative;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container .title_block {
    width: 100%;
    padding: 20px 0;
  }
}

#fengso-productDetail .announcement_block .announcement_container .title_block::after {
  content: ' ';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 50px;
  width: 1px;
  height: 14px;
  position: absolute;
  right: 30px;
  background: #a8a8a8;
}

#fengso-productDetail .announcement_block .announcement_container .title_block .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  letter-spacing: 18px;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #363636;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container .title_block .title {
    width: 100%;
    text-indent: 18px;
  }
}

#fengso-productDetail .announcement_block .announcement_container .title_block .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: #FF7757;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container .title_block .subtitle {
    width: 100%;
  }
}

#fengso-productDetail .announcement_block .announcement_container .content_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 1000px;
  padding: 80px 0 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container .content_list {
    width: 100%;
    padding: 10px 0 0;
  }
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  height: 36px;
  padding: 5px 0;
  font-size: 17px;
  color: #383838;
  position: relative;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .announcement_block .announcement_container .content_list .content_item {
    width: 100%;
    height: unset;
    padding: 10px 0;
  }
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item:not(:last-child)::after {
  content: ' ';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 0px;
  bottom: 3px;
  left: 5px;
  border-color: #c9c9c9;
  border-width: 0 0 1px 0;
  border-style: dashed;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item a {
  color: #4b4b4b;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 10px;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .lock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 3px 15px  0 10px;
  position: relative;
  opacity: 0;
  font-size: 12px;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .lock.show {
  opacity: 1;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  line-height: 22px;
}

@media all and (max-width: 861px) {
  #fengso-productDetail .announcement_block .announcement_container .content_list .content_item .content {
    width: 100%;
    padding: 10px;
  }
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .content .tip {
  padding: 0 5px;
}

#fengso-productDetail .announcement_block .announcement_container .content_list .content_item .content .tip a {
  font-size: 16px;
  color: #4370b3;
}

#fengso-productDetail .intro_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 69%;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .intro_block {
    width: 100%;
  }
}

#fengso-productDetail .intro_block .intro_tab_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  max-width: 870px;
  padding: 0 0 5px 0;
  z-index: 10;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

@media all and (max-width: 1300px) {
  #fengso-productDetail .intro_block .intro_tab_block {
    max-width: unset;
    left: 0;
  }
}

@media all and (max-width: 780px) {
  #fengso-productDetail .intro_block .intro_tab_block {
    left: 0px;
    top: 60px;
  }
}

@media all and (max-width: 681px) {
  #fengso-productDetail .intro_block .intro_tab_block {
    padding: 0 0 18px 0;
  }
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab {
  max-width: 100%;
  float: left;
  background-color: #F1F1F1;
  position: relative;
  overflow: hidden;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 1.15em;
  letter-spacing: 2px;
  width: auto;
  float: left;
  padding: 17px 38px;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #535353;
  cursor: pointer;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item:not(:last-child)::after {
  content: ' ';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2px;
  height: 20px;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transform: skew(-12deg, 0);
      -ms-transform: skew(-12deg, 0);
          transform: skew(-12deg, 0);
  background-color: #cccccc;
}

@media all and (max-width: 681px) {
  #fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item {
    padding: 15px 35px;
    font-size: 1.05em;
  }
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item a:hover {
  color: #FF7757;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item.active {
  color: #FF7757;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .tab_item.active::before {
  content: ' ';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: 1px;
  background-color: #FF7757;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .swiper-button-prev,
#fengso-productDetail .intro_block .intro_tab_block .intro_tab .swiper-button-next {
  -webkit-box-shadow: 0 0 16px #00000050;
          box-shadow: 0 0 16px #00000050;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .swiper-button-disabled {
  opacity: 0;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .swiper-button-prev {
  background-image: url("../img/tab__prev.svg");
  left: 0;
}

#fengso-productDetail .intro_block .intro_tab_block .intro_tab .swiper-button-next {
  background-image: url("../img/tab__next.svg");
  right: 0;
}

#fengso-productDetail .intro_block .course_tabtarget {
  width: 100%;
  display: none;
}

#fengso-productDetail .teacher_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 30%;
  padding-left: 30px;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .teacher_block.dp-tab {
    display: none;
  }
}

#fengso-productDetail .teacher_block.dp-mob {
  display: none;
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .teacher_block.dp-mob {
    display: block;
  }
}

@media all and (max-width: 1301px) {
  #fengso-productDetail .teacher_block {
    width: 100%;
    padding: 10px 30px 40px;
  }
}

@media all and (max-width: 580px) {
  #fengso-productDetail .teacher_block {
    width: 100%;
    padding: 10px 10px 20px;
  }
}

#fengso-productDetail .teacher_block .teacher_box {
  -webkit-box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.116);
          box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.116);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

@media all and (max-width: 781px) {
  #fengso-productDetail .teacher_block .teacher_box {
    padding: 15px;
  }
}

#fengso-productDetail .teacher_block .teacher_box .teacher_avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 4px solid #FFB636;
  border-radius: 100px;
}

#fengso-productDetail .teacher_block .teacher_box .teacher_name {
  margin: 20px auto;
  font-size: 22px;
  color: #FF7757;
}

#fengso-productDetail .teacher_block .teacher_box .action_icons {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#fengso-productDetail .teacher_block .teacher_box .action_icons a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  color: #aaa;
  padding: 2px 8px;
}

#fengso-productDetail .teacher_block .teacher_box .action_icons a i {
  font-size: 23px;
}

#fengso-productDetail .teacher_block .teacher_box .teacher_intro {
  margin: 20px auto;
  color: #a1a1a1;
  line-height: 30px;
  text-align: left;
}

#fengso-productDetail .course__share__block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 240px;
  position: absolute;
  right: 90px;
  top: 50px;
  -webkit-box-shadow: 0px 0px 20px #00000017;
          box-shadow: 0px 0px 20px #00000017;
  background-color: #ffffff;
  color: #555555;
  padding: 16px;
  opacity: 0;
  -webkit-transition: 0s ease-in-out;
  -o-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}

#fengso-productDetail .course__share__block.isfixed {
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 100px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media all and (max-width: 1900px) {
  #fengso-productDetail .course__share__block.isfixed {
    display: none;
  }
}

#fengso-productDetail .course__share__block .course__share__price {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  margin: 5px 0;
  font-size: 1.2em;
}

#fengso-productDetail .course__share__block .course__share__price .share__prive__title {
  padding: 0 5px 0 0;
}

#fengso-productDetail .course__share__block .course__share__price.main {
  font-size: 1.2em;
}

#fengso-productDetail .course__share__block .course__share__price.main .share__prive {
  font-size: 1.2em;
  color: #FF7757;
}

#fengso-productDetail .course__share__block .course__share__price.sub {
  font-size: .9em;
  color: #aaaaaa;
  text-decoration: line-through;
}

#fengso-productDetail .course__share__block .course__share__buy__soon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #999999;
  padding: 10px 35px;
  margin: 10px 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#fengso-productDetail .course__share__block .course__share__buy__soon i {
  padding: 0 0 0 3px;
}

#fengso-productDetail .course__share__block .course__share__buy__soon:hover {
  background-color: #FF7757;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
}

#fengso-productDetail .course__share__block .course__share__box {
  padding: 4px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  font-size: 1.2em;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#fengso-productDetail .course__share__block .course__share__box i {
  font-size: 1.25em;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  margin: 0 8px;
  color: #999999;
}

#fengso-productDetail .course__share__block .course__share__box i:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#fengso-productDetail .course__share__block .course__share__box .line {
  padding: 6px 0 0 0;
  width: 25px;
  height: 25px;
}

#fengso-productDetail .course__share__block .copy__href {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  margin: 10px 0;
  padding: 8px 6px;
  background-color: #eeeeee;
  border-radius: 4px;
}

#fengso-productDetail .course__share__block .copy__href i {
  color: #888888;
}

#fengso-productDetail .course__share__block .link__btn {
  font-size: .9em;
}

#fengso-productDetail .course__share__block .link__btn.isactive {
  pointer-events: none;
}

#fengso-productDetail .course__share__block .link__box {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: calc(100% - 40px);
  overflow: hidden;
  font-size: .8em;
  color: #999999;
  min-height: 24px;
  max-height: 24px;
  min-width: calc(100% - 40px);
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

#fengso-productDetail .course__share__block .link__box::-moz-selection {
  background: #cccccc;
  color: #ffffff;
}

#fengso-productDetail .course__share__block .link__box::selection {
  background: #cccccc;
  color: #ffffff;
}

#fengso-productDetail .copy__success {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  background-color: #00000067;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  position: fixed;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 20vh;
  z-index: 10000;
  -webkit-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
  transition: .2s all ease-in;
  opacity: 0;
}

#fengso-productDetail .copy__success.isshow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: .5s all ease-out;
  -o-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

#fengso-productDetail .vjs-poster {
  background-color: transparent;
}

#fengso-productDetail .video-js {
  background-color: transparent;
}
