@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body, .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_blocks, .lightingbox .btn_close.type2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.lightingbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 1001;
  display: none;
}

.lightingbox .lightingbox_wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  position: fixed;
  width: 800px;
  max-height: 74vh;
  padding: 52px 50px 30px;
  background: white;
  z-index: 1000;
  border-radius: 5px;
  top: 8%;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap {
    width: 95%;
    padding: 42px 15px 20px;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  padding: 0 5px 10px 0;
  width: 100%;
  max-height: calc(70vh - 46px);
  overflow-x: hidden;
  overflow-y: auto;
}

.lightingbox .lightingbox_wrap .lightingbox_container::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.lightingbox .lightingbox_wrap .lightingbox_container::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 8px 0;
}

.lightingbox .lightingbox_wrap .lightingbox_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #868686;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body > .col2 {
  overflow: hidden;
  width: 48%;
  display: none;
  padding: 0 0 20px 0;
  width: 94%;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body > .col2 {
    width: 100%;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 0 20px;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .title {
    padding: 30px 0;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_blocks {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_blocks > .col2 {
  overflow: hidden;
  width: 48%;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_blocks > .col2 {
    width: 100%;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block {
  position: relative;
  padding: 0 0 20px 0;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input_name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 0 5px;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin: 5px 0 0px;
  padding: 5px 10px;
  border-width: 0 0 1px 0;
  outline: none;
  border-color: #b4b4b4;
  font-size: 14px;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 0.9;
  /* Firefox */
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 0.9;
  /* Firefox */
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 0.9;
  /* Firefox */
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 0.9;
  /* Firefox */
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 0.9;
  /* Firefox */
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #afafaf;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #afafaf;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input:focus {
  border-color: #FF7757;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input.fail {
  border-color: #c40303;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .input.fail[type="text"]:focus {
  border-color: #c40303;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .input_block .fail_info {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 100%;
  color: #c40303;
  bottom: 2px;
  text-align: left;
  font-size: 12px;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  padding: 10px 0 5px 0;
  /* The container */
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block {
    padding: 0px 0 0px 0;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 170px;
  position: relative;
  padding: 3px 0 0 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block:hover input ~ .checkmark {
  background-color: white;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-width: 1px;
  border-color: #d4d4d4;
  border-style: solid;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block input:checked ~ .checkmark {
  background-color: #FF7757;
  border-color: #fff;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block input:checked ~ .checkmark:after {
  display: block;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .checkbox_block .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .forgot_password {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding-top: 2px;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .check_block .forgot_password i {
  color: #8f8f8f;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_body .btn_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  padding: 15px 0;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer {
  width: 70%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media all and (max-width: 481px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer {
    width: 100%;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .title {
  font-size: 12px;
  margin: 4px 0 14px 0;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns span {
  font-weight: bold;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns > .col2 {
  vertical-align: middle;
  width: 42%;
  font-size: 13px;
  padding: 14px 14px 14px 35px;
  position: relative;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns > .col2 {
    width: 100%;
    margin: 10px;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns > .col2 i {
  top: 10px;
  left: 20px;
  font-size: 25px;
  position: absolute;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns > .col2.btn_fb {
  background-color: #2C55AD;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .login_btns > .col2.btn_google {
  background-color: #DB4C3E;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .tip {
  margin-top: 42px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .tip br {
  display: none;
}

@media all and (max-width: 861px) {
  .lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .tip br {
    display: block;
  }
}

.lightingbox .lightingbox_wrap .lightingbox_container .lightingbox_footer .tip a {
  font-weight: bold;
  color: #4370b3;
  padding: 0 10px;
}

.lightingbox .lightingbox_wrap.type2 {
  top: calc(10% + 70px);
  border-top-right-radius: 0;
  z-index: 1001;
}

.lightingbox .btn_close {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media all and (max-width: 861px) {
  .lightingbox .btn_close {
    width: 40px;
    height: 40px;
  }
}

.lightingbox .btn_close:hover .c_deco {
  background-color: #FF7757;
}

.lightingbox .btn_close .c_deco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  position: absolute;
  background: #747474;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lightingbox .btn_close .c_deco.cd1 {
  height: 1px;
  width: 80%;
}

.lightingbox .btn_close .c_deco.cd2 {
  width: 1px;
  height: 80%;
}

.lightingbox .btn_close.type2 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  height: 40px;
  top: -40px;
  right: 0px;
  overflow: hidden;
  background-color: #FF7757;
  padding: 0 10px;
  color: #fff;
}

.lightingbox .btn_close.type2 > .btn_close_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: 26px;
  height: 26px;
  position: relative;
}

.lightingbox .btn_close.type2 > .btn_close_box .c_deco {
  background-color: #fff;
}

.lightingbox .btn_close.type2 > .btn_close_box .c_deco:hover {
  background-color: #fff;
}

.lightingbox .btn_close.type2 > .btn_close_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 5px 0 0;
}

.lightingbox .btn_close.type2 .c_deco.cd1 {
  height: 2px;
  width: 80%;
}

.lightingbox .btn_close.type2 .c_deco.cd2 {
  width: 2px;
  height: 80%;
}

.lightingbox > .lightingbox_mask {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 140vh;
  background: rgba(0, 0, 0, 0.705);
  z-index: 999;
}
