@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
}

html::-webkit-scrollbar {
  width: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 8px 0;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a3a3a3;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #363636;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

a:hover {
  opacity: .7;
}

a.type2 {
  text-decoration: underline;
  color: #4370b3;
}

input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
}

input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acacac;
}

input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #acacac;
}

hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  border: 0px;
  margin: 8px 0;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  background: #FF7757;
  border: 0px solid #fff;
  cursor: pointer;
  color: #fff;
  outline: none;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  padding: 12px 40px;
  margin: 8px;
  font-size: 16px;
}

button:hover {
  opacity: .8;
}

.img_box img {
  width: 100%;
}

.bread_crumb_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  line-height: 28px;
}

@media all and (max-width: 1301px) {
  .bread_crumb_block {
    padding: 0 15px;
  }
}

.bread_crumb_block .bread_crumb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
}

.bread_crumb_block .bread_crumb .bread_crumb_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 0 10px 0 0px;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .home {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 10px 0 0;
  font-size: 16px;
  color: #3f3f3f;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 2px 12px 0 8px;
  font-size: 12px;
  color: #BCBDBC;
}

.bread_crumb_block .bread_crumb .bread_crumb_item.bc_last {
  font-weight: 600;
}
