@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#FengsoPasswordSetting .input_block, #FengsoPasswordSetting .robot_check_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#FengsoPasswordSetting .big_title_block, #FengsoPasswordSetting .subtitle_block, #FengsoPasswordSetting .subtitle_block > .title, #FengsoPasswordSetting .subtitle_block > .subtitle, #FengsoPasswordSetting .tips, #FengsoPasswordSetting .btns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.big_title {
  background-color: #F6F7F9;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 1300px;
  padding: 40px 10px;
  position: relative;
  z-index: 0;
}

.area .container.type_banner {
  width: 100%;
  padding: 0px 0px;
}

@media all and (max-width: 1301px) {
  .area .container {
    width: 100%;
  }
}

.video_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: 15px 0 0;
  overflow: hidden;
}

.video_box iframe {
  width: 100%;
  height: 100%;
}

.focuspoint .lazy {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("images/fengso-loading.svg");
  max-height: 100%;
}

.focuspoint .lazied {
  max-height: unset;
}

#FengsoPasswordSetting .big_title_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: calc(26px + 0.7vw);
  font-weight: 600;
  color: #3b4952;
  padding: 30px 0;
  line-height: 38px;
}

#FengsoPasswordSetting .subtitle_block {
  line-height: 34px;
}

#FengsoPasswordSetting .subtitle_block > .title {
  font-size: calc(18px + 0.5vw);
  font-weight: 600;
  color: #3b4952;
  padding: 20px 0;
}

#FengsoPasswordSetting .subtitle_block > .subtitle {
  max-width: 480px;
  line-height: 22px;
  font-size: 14px;
}

#FengsoPasswordSetting .input_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#FengsoPasswordSetting .input_block > .col {
  overflow: hidden;
  width: 98%;
}

#FengsoPasswordSetting .input_block > .col2 {
  overflow: hidden;
  width: 49%;
}

@media all and (max-width: 781px) {
  #FengsoPasswordSetting .input_block > .col2 {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block > .col3 {
  overflow: hidden;
  width: 32.66667%;
}

@media all and (max-width: 781px) {
  #FengsoPasswordSetting .input_block > .col3 {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block > .col4 {
  overflow: hidden;
  width: 24.5%;
}

@media all and (max-width: 781px) {
  #FengsoPasswordSetting .input_block > .col4 {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block > .col5 {
  overflow: hidden;
  width: 19.6%;
}

@media all and (max-width: 781px) {
  #FengsoPasswordSetting .input_block > .col5 {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block > .col6 {
  overflow: hidden;
  width: 16.33333%;
}

@media all and (max-width: 781px) {
  #FengsoPasswordSetting .input_block > .col6 {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block.cols {
  width: 400px;
}

@media all and (max-width: 400px) {
  #FengsoPasswordSetting .input_block.cols {
    width: 100%;
  }
}

#FengsoPasswordSetting .input_block .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px 0 0;
  font-weight: unset;
  font-size: 16px;
  text-align: left;
}

@media all and (max-width: 681px) {
  #FengsoPasswordSetting .input_block .title.dp_tab {
    display: none;
  }
}

#FengsoPasswordSetting .input_block .input_name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 0 5px;
}

#FengsoPasswordSetting .input_block .input {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  max-width: 650px;
  margin: 8px auto 6px;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #FEA226;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
}

#FengsoPasswordSetting .input_block .input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#FengsoPasswordSetting .input_block .input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#FengsoPasswordSetting .input_block .input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#FengsoPasswordSetting .input_block .input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#FengsoPasswordSetting .input_block .input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

#FengsoPasswordSetting .input_block .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

#FengsoPasswordSetting .input_block .input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

#FengsoPasswordSetting .input_block .input:focus {
  -webkit-box-shadow: 0px 0px 14px rgba(255, 149, 11, 0.466);
          box-shadow: 0px 0px 14px rgba(255, 149, 11, 0.466);
}

#FengsoPasswordSetting .input_block .input.fail {
  border-color: #c40303;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#FengsoPasswordSetting .input_block .input.fail[type="text"]:focus {
  border-color: #c40303;
}

#FengsoPasswordSetting .input_block .fail_info {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 100%;
  color: #c40303;
  bottom: 2px;
  text-align: left;
  font-size: 12px;
}

#FengsoPasswordSetting .robot_check_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

#FengsoPasswordSetting .tips a {
  color: #FF7757;
  text-decoration: underline;
  font-weight: bold;
}

#FengsoPasswordSetting .btns {
  padding: 20px;
}

#FengsoPasswordSetting .btns button {
  margin: 10px;
}

#FengsoPasswordSetting .btns button.gray {
  background: #F1F1F1;
  color: #222222;
}

#FengsoPasswordSetting .footer_hr {
  margin: 50px 0 0;
}
