@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.intro_block #CourseIntro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  color: #5a5a5a;
  line-height: 30px;
}

.intro_block #CourseIntro > h2, .intro_block #CourseIntro > .style-h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 10px;
  color: #363636;
  margin: 20px 0 12px;
}

.intro_block #CourseIntro > p, .intro_block #CourseIntro > .style-p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  line-height: 30px;
  margin: 15px 0 25px;
}

.intro_block #CourseIntro > .style-tb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  padding: 15px 30px;
  width: 100%;
}

.intro_block #CourseIntro > .style-tb > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  padding: 25px 30px;
  background-color: #E5E3E4;
}

.intro_block #CourseIntro > ul, .intro_block #CourseIntro > .style-ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
}
