@charset "UTF-8";
.course_rate_title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  margin: 15px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 5px;
}

.course_rate_title > span {
  letter-spacing: 0px;
  padding: 0 0 0 8px;
  color: #FF7757;
  font-size: 24px;
}

.course_rate_title > span i {
  padding: 0 8px 0 0;
}

.course_discuss_search_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

.course_discuss_search_block .course_discuss_search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0px 40px 0 0;
  width: 60%;
  height: 36px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: #fff;
  background: #fff;
  padding: 9px 14px 0 8px;
}

@media all and (max-width: 1301px) {
  .course_discuss_search_block .course_discuss_search {
    margin-right: 10px;
  }
  .course_discuss_search_block .course_discuss_search .search_input {
    width: 120px;
  }
}

@media all and (max-width: 861px) {
  .course_discuss_search_block .course_discuss_search {
    width: 100%;
  }
}

.course_discuss_search_block .course_discuss_search .search_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  font-size: 14px;
  padding: 0 10px 0;
  border: 0px solid;
  width: 90%;
  outline: none;
}

.course_discuss_search_block .course_discuss_search .search_input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

.course_discuss_search_block .course_discuss_search .search_input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

.course_discuss_search_block .course_discuss_search .search_input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

.course_discuss_search_block .course_discuss_search .search_input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

.course_discuss_search_block .course_discuss_search .search_input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */
}

.course_discuss_search_block .course_discuss_search .search_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acacac;
}

.course_discuss_search_block .course_discuss_search .search_input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #acacac;
}

@media all and (max-width: 1281px) {
  .course_discuss_search_block .course_discuss_search .search_input {
    width: 50%;
  }
}

.course_discuss_search_block .course_discuss_search .search_start {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 0px  0 0 0;
  color: rgba(138, 138, 138, 0.6);
  font-size: 18px;
  position: relative;
  margin: -5px 0 0;
}

.course_discuss_search_block .course_discuss_picker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 32%;
}

@media all and (max-width: 861px) {
  .course_discuss_search_block .course_discuss_picker {
    width: 100%;
    margin: 15px auto;
    padding: 5px;
  }
}

.course_discuss_search_block .course_discuss_picker .picker_date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
  background-color: transparent;
  width: 40%;
  border: 0px;
  outline: none;
  color: #575757;
  margin: 0px  5px 0 0;
  padding: 5px 0 0 0;
}

@media all and (max-width: 861px) {
  .course_discuss_search_block .course_discuss_picker .picker_date {
    margin-right: 0;
    width: 48%;
  }
}

@media all and (max-width: 460px) {
  .course_discuss_search_block .course_discuss_picker .picker_date {
    width: 100%;
    margin: 15px auto;
  }
}

.course_discuss_search_block .course_discuss_picker .picker_unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
  width: 40%;
  height: 34px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: #fff;
  background: #fff;
  margin: 0px 0 0 0;
  padding: 0px 5px 0 15px;
}

@media all and (max-width: 861px) {
  .course_discuss_search_block .course_discuss_picker .picker_unit {
    width: 48%;
  }
}

@media all and (max-width: 460px) {
  .course_discuss_search_block .course_discuss_picker .picker_unit {
    width: 100%;
  }
}

.course_discuss_search_block .course_discuss_picker datalist option {
  margin: 10px 0;
}

.course_rate_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-box-shadow: 1px 7px 15px rgba(88, 88, 88, 0.1);
          box-shadow: 1px 7px 15px rgba(88, 88, 88, 0.1);
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff;
  width: 98%;
  padding: 20px 30px 20px 20px;
  margin: 15px 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
          box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
}

.course_rate_block:hover {
  -webkit-transform: translate(-5px, -5px);
      -ms-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
          box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
}

.course_rate_block .avatar_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 150px;
}

.course_rate_block .avatar_box .avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: 4px solid #D8D6D7;
  overflow: hidden;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.course_rate_block .avatar_box .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.course_rate_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 150px);
}

.course_rate_block .content_box .title_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course_rate_block .content_box .title_block .title {
  max-width: calc(100% - 70px);
}

.course_rate_block .content_box .title_block .rated_score {
  color: #FF7757;
  font-size: 22px;
  font-weight: 600;
}

.course_rate_block .content_box .title_block .rated_score i {
  padding: 0 5px 0 0;
}

.course_rate_block .content_box .tips {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #FF7757;
}

.course_discuss_blocks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-box-shadow: 1px 7px 15px rgba(88, 88, 88, 0.1);
          box-shadow: 1px 7px 15px rgba(88, 88, 88, 0.1);
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff;
  width: 98%;
  padding: 20px 30px 20px 20px;
  margin: 20px 0 10px;
}

.course_discuss_blocks .course_discuss_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.course_discuss_blocks .course_discuss_block .avatar_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 150px;
}

@media all and (max-width: 861px) {
  .course_discuss_blocks .course_discuss_block .avatar_box {
    width: 100%;
  }
}

.course_discuss_blocks .course_discuss_block .avatar_box .avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: 4px solid #D8D6D7;
  overflow: hidden;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.course_discuss_blocks .course_discuss_block .avatar_box .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.course_discuss_blocks .course_discuss_block .content_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 150px);
}

@media all and (max-width: 861px) {
  .course_discuss_blocks .course_discuss_block .content_box {
    width: 100%;
  }
}

.course_discuss_blocks .course_discuss_block .content_box .chapter_block {
  width: 100%;
  color: #FF7757;
  font-size: 16px;
  letter-spacing: 2px;
}

@media all and (max-width: 861px) {
  .course_discuss_blocks .course_discuss_block .content_box .chapter_block {
    padding: 10px 0;
    text-align: center;
  }
}

.course_discuss_blocks .course_discuss_block .content_box .title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.course_discuss_blocks .course_discuss_block .content_box .content {
  margin: 6px 0;
}

.course_discuss_blocks .course_discuss_block .content_box .tips {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.course_discuss_blocks .course_discuss_block .content_box .tips .user_info .element {
  padding: 0 8px 0 0;
  color: #888888;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.course_discuss_blocks .course_discuss_block .content_box .tips .user_info .element:hover {
  opacity: .8;
}

.course_discuss_blocks .course_discuss_block .content_box .tips .user_info .element i {
  padding: 0 5px 0 0;
}

.course_discuss_blocks .course_discuss_block .content_box .tips .user_info .user_name {
  color: #FF7757;
  padding: 0;
}

.course_discuss_blocks .course_discuss_block .content_box .tips .status.solved {
  color: #FF7757;
  border-color: #FF7757;
  border-style: solid;
  border-width: 1px;
  padding: 0px 2px;
  line-height: 15px;
}

.course_discuss_blocks .course_discuss_block .content_box .answer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 30px auto 5px;
}

.course_discuss_blocks .course_discuss_block .content_box .answer .avatar_box {
  width: 120px;
}

@media all and (max-width: 861px) {
  .course_discuss_blocks .course_discuss_block .content_box .answer .avatar_box {
    width: 100px;
  }
}

@media all and (max-width: 480px) {
  .course_discuss_blocks .course_discuss_block .content_box .answer .avatar_box {
    width: 100%;
    padding-bottom: 15px;
  }
}

.course_discuss_blocks .course_discuss_block .content_box .answer .avatar_box .avatar {
  border: 3px solid #FFB636;
  width: 72px;
  height: 72px;
}

.course_discuss_blocks .course_discuss_block .content_box .answer .content_box.type_teacher {
  width: calc(100% - 120px);
}

@media all and (max-width: 861px) {
  .course_discuss_blocks .course_discuss_block .content_box .answer .content_box.type_teacher {
    width: calc(100% - 100px);
  }
}

@media all and (max-width: 480px) {
  .course_discuss_blocks .course_discuss_block .content_box .answer .content_box.type_teacher {
    width: 100%;
  }
}

.course_discuss_blocks .course_discuss_block .content_box .answer .content_box.type_teacher .tips .user_info .user_name {
  border-radius: 50px;
  padding: 5px 15px;
  background: #FF7757;
  color: #fff;
  font-size: 14px;
}

.course_discuss_blocks.enter_quest {
  padding: 30px 40px 20px;
}

.course_discuss_blocks.enter_quest .quest_title {
  width: 100%;
}

.course_discuss_blocks.enter_quest .title {
  width: 100%;
}

.course_discuss_blocks.enter_quest .quest_content {
  width: 100%;
}

.course_discuss_blocks.enter_quest .content {
  width: 100%;
  min-height: 120px;
}

.course_discuss_blocks.enter_quest .input {
  border: 1px solid #dbdbdb;
  padding: 8px;
  margin: 0 0 15px 0;
}

.course_discuss_blocks.enter_quest .input:focus {
  outline-color: #FF7757;
}

.course_discuss_blocks.enter_quest button {
  margin: 20px auto;
}

.ask_title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  margin: 15px  auto 5px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 10px;
}

.loading_more {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 98%;
  cursor: pointer;
  background-color: #E0E0E0;
  text-align: center;
  margin: 20px auto;
  letter-spacing: 3px;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.loading_more:hover {
  opacity: .8;
}
