
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
$color_fs_orange:#FF7757;
$color_fs_pre_goose:#FFB639;
$color_fs_goose:#FFB636;
$color_fs_courseList_goose:#FEA226;
$color_fs_brown:rgb(95, 54, 23);
$color_fs_blue:rgb(67, 112, 179);
$color_fs_background_gray_bluer:#F6F7F9;//forgetpass

$color_fs_gray:#BCBDBC;
$color_fs_gray_2:rgb(161, 161, 161);
$color_fs_gray_3_fadeblue:#5e6f79;;//blue
$color_fs_gray_3_fadeblue_2:#3b4952;//darkerBlue
$color_fs_background_gray:#F1F1F1;

$color_link:rgb(54, 54, 54);
$color_shadow:rgba(77, 77, 77, 0.2);

$color_fs_font-title:rgb(54, 54, 54);
$color_fs_font-title_2:rgb(68, 68, 68);

$color_fs_font:rgb(90, 90, 90);
$color_fs_font_fader:rgb(110, 110, 110);

$color_fs_footer-font:rgb(124, 124, 124);

#fengso-productDetail{

   .course_rate_title{
      @include bl;
      width: 100%;
      margin: 35px auto 10px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 5px;
      > span{
         letter-spacing: 0px;
         padding: 0 0 0 8px;
         color:$color_fs_orange;
         font-size: 24px;
         i{
            padding: 0 8px 0 0;
         }
      }
   }

   //輸入框樣式
   .search_and_sort_block{
      @include fxb;
      box-sizing: border-box;
      width: 100%;

      .course_discuss_control_panel{
         @include fxb;
         width: 100%;
         box-sizing: border-box;
         margin: 18px 0 10px;
         @include MCW(861px) {
            width: 100%;
            margin: 15px auto;
            padding: 5px;
         }
         > .input{
            margin: 8px 0;
         }
         .picker{
            @include ibl;
            @include selection-none;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            background-color: transparent;
            border: 0px;
            outline: none;
            color: $color_fs_font_fader;
            margin-right: 5px;
            padding: 5px 10px ;
            letter-spacing: 3px;
            @include MCW(861px) {
               margin-right: 0;
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
               margin:  15px auto ;
            }
            &.type_2{
               border-radius: 50px;
               background-color:#fff;
               width: 100%;
               max-width:600px;
            }
         }
         .picker_unit{
            @include ibl;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            height: 34px;
            outline: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 50px;
            border-color: #fff;
            background: #fff;
            padding: 0px 5px 2px 15px;
            @include MCW(861px) {
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
            }
         }
         .searcher{
            @include ibl;  
            width: 67%;
            height: 36px;
            outline: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 50px;
            border-color: #fff;
            background: #fff;
            padding: 5px 14px 0 20px;
            
            @include M1301() {
               margin-right:  10px ;
               .search_input{
                  width: 120px;
               }
            }
            @include MCW(861px) {
               width: 100%;
            }
            .search_input{
               @include ibl;  
               @include PlaceHolder-Style();
               font-size: 17px;
               
               border:0px solid;;
               width: 90%;
               outline: none;
               @include MCW() {
                  width: 50%;
               }
            }
            .search_start{
               @include ibr;  
               cursor: pointer;
               padding: 3px  0 0 0;
               color: rgba(138, 138, 138, 0.6);
               font-size: 18px;
               position: relative;
               margin:0px 0 0 ;
            }
            
         }
         datalist{
            option{
               margin: 10px 0 ;
            }
         }

      }
      .btns{
         @include ib;
         width: 100%;
      }

   }

   .course_inputs_block{
      @include ibl;  
      width: 100%;
      .course_discuss_search{
         @include ibl;  
         margin: 0px 40px 0 0;
         width: 60%;
         height: 36px;
         outline: none;
         border-style: solid;
         border-width: 1px;
         border-radius: 50px;
         border-color: #fff;
         background: #fff;
         padding: 5px 14px 0 20px;

         @include M1301() {
            margin-right:  10px ;
            .search_input{
               width: 120px;
            }
         }
         @include MCW(861px) {
            width: 100%;
         }
         .search_input{
            @include ibl;  
            @include PlaceHolder-Style();
            font-size: 17px;
            
            border:0px solid;;
            width: 90%;
            outline: none;
            @include MCW() {
               width: 50%;
            }
         }
         .search_start{
            @include ibr;  
            cursor: pointer;
            padding: 3px  0 0 0;
            color: rgba(138, 138, 138, 0.6);
            font-size: 18px;
            position: relative;
            margin:0px 0 0 ;
         }
         
      }
      .course_discuss_picker{
         @include ibl;
         width: 32%;
         @include MCW(861px) {
            width: 100%;
            margin: 15px auto;
            padding: 5px;
         }
         .picker_date{
            @include ibl;
            @include selection-none;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            background-color: transparent;
            width: 40%;
            border: 0px;
            outline: none;
            color: rgb(87, 87, 87);
            margin: 0px  5px 0 0;
            padding: 5px 0 0 0;
            @include MCW(861px) {
               margin-right: 0;
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
               margin:  15px auto ;
            }
         }
         .picker_unit{
            @include ibl;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            width: 40%;
            height: 34px;
            outline: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 50px;
            border-color: #fff;
            background: #fff;
            margin: 0px 0 0 0;
            padding: 0px 5px 2px 15px;
            @include MCW(861px) {
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
            }
         }
         datalist{
            option{
               margin: 10px 0 ;
            }
         }
      }
      .check_block{
         @include fxfs;
         @include selection-none;
         align-items: flex-start;
         width: 100%;
         padding: 10px 0 5px 0;
         @include MCW(861px){
            padding: 0px 0 0px 0;
         }
         /* The container */
         .checkbox_block {
            @include fxfs;
            align-items: flex-start;
            width: 100%;

            position: relative;
            padding: 3px 0 0 25px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
               position: absolute;
               opacity: 0;
               cursor: pointer;
               height: 0;
               width: 0;
            }
            &:hover input ~ .checkmark {
               background-color: rgb(255, 255, 255);
            }
            .checkmark {
               position: absolute;
               top: 4px;
               left: 0;
               height: 20px;
               width: 20px;
               border-width: 1px ;
               border-color: rgb(212, 212, 212);;
               border-style: solid ;
               &:after {
                  content: "";
                  position: absolute;
                  display: none;
               }
            }

         }
         .checkbox_block input:checked ~ .checkmark {
            background-color: #FF7757;
            border-color: #fff;;
         }
         .checkbox_block input:checked ~ .checkmark:after {
            display: block;
         }
         .checkbox_block .checkmark:after {
            left: 6px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
         }
         .forgot_password{
            @include ibl;
            padding-top: 2px;
            i{
               color: rgb(143, 143, 143);
            }
         }
         .text{
            @include ibl;
            padding: 0px 0px 0px 10px;
         }
      }
      .upload_box{
         @include ibl;
         width:100%;
         overflow: hidden;
         .tip_box{
            @include fxfe;
            text-align: right;
            width: 100%;
            > .item{
               @include ibl;
               padding: 0 5px ;
               a{
                  color:$color_fs_blue;
               }
            }
         }
         .title{
            @include ibl;
            width:100%;
            margin: 5px 0 2px;
         }
         .input{
            width: 100%;
            margin:  0 0 10px 0;
            max-width: 99.5%;
         }

      }
      .tip{
         color:$color_fs_orange;
      }
      .btns{
         @include ib;
         width: 100%;
         &.type_center{
            @include fxc;
            padding: 15px 0;
            button{
               margin: 0 10px;
            }
         }
      }
   }

   .course_rate_block{
      @include ibl;
      @include bs(1px,7px,15px,rgba(88, 88, 88, 0.1));
      @include flex-center;
      background-color: #fff;
      width:100%;
      padding: 20px 30px 20px 20px;
      margin: 15px 0;
      @include hv2;
      @include MCW(861px) {
         width: 100%;
         padding: 15px 20px 10px;
      }
      .avatar_box{
         @include ibl;
         width: 150px;
         color:$color_fs_font_fader;
         .avatar{
            @include b;
            margin: 0 auto;
            border: 4px solid #D8D6D7;
            overflow: hidden;
            border-radius: 100px;
            width: 100px;
            height: 100px;
         }
         .name{
            @include b;
            text-align: center;
            margin: 10px auto;
         }
      }
      .content_box{
         @include ibl;
         width: calc(100% - 150px);
         margin: 6px 0;
         line-height: 30px;
         font-size: 17px;
         color:$color_fs_font_fader;
         @include MCW(861px) {
            width: 100%;
         }
         > .title_box{
            @include flex-center;
            justify-content: space-between;
            margin: 6px 0;
            > .title{
               max-width: calc(100% - 90px);
               margin: 6px 0;
            }
            > .content{
               margin: 6px 0;
            }
            > .rated_score{
               padding: 0 10px 0 0;
               color:$color_fs_orange;
               font-size: 22px;
               font-weight: 600;
               i{
                  padding:  0 5px 0 0;
               }
            }
         }

         .tips{
            @include flex-center;
            justify-content: space-between;
            font-size: 12px;
            color:$color_fs_orange;
            a{
               color:$color_fs_font_fader;
            }
         }
      }
   }

   .course_discuss_blocks{
      @include bs(1px,7px,15px,rgba(88, 88, 88, 0.1));
      @include fxc;
      box-sizing: border-box;
      background-color: #fff;
      width:100%;
      padding: 20px 30px 20px 20px;
      margin: 20px 0 10px;
      .course_discuss_block{
         @include flex-center;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;;
         margin: 26px 0 ;
         position: relative;
         .avatar_box{
            @include ibl;
            width: 150px;
            @include MCW(861px) {
               width: 100%;
            }
            .avatar{
               @include b;
               margin: 0 auto;
               border: 4px solid #D8D6D7;
               overflow: hidden;
               border-radius: 100px;
               width: 100px;
               height: 100px;
            }
            .name{
               @include b;
               text-align: center;
               margin: 10px auto;
            }
         }
         .content_box{
            @include ibl;
            width: calc(100% - 150px);
            line-height: 30px;
            font-size: 17px;
            max-height: 112px;
            overflow: hidden;
            color:$color_fs_font_fader;
            @include MCW(861px) {
               width: 100%;
            }
            &.expand{
               max-height: unset;
               overflow: auto;
            }
            &.expand{
               max-height: unset;
               overflow: auto;
            }
            > .chapter_block{
               width: 100%;
               color:$color_fs_orange;
               font-size: 16px;
               letter-spacing: 2px;
               @include MCW(861px) {
                  padding: 10px 0;
                  text-align: center;
               }
            }
            > .title{
               @include nowrap;
               margin: 6px 0;
            }
            > .content{
               margin: 6px 0;
               line-height: 30px;
            }
            > .tips{
               margin: 6px 0;
               @include flex-center;
               justify-content: space-between;
               font-size: 12px;
               
               > .user_info{
                  .element{
                     padding: 0 8px 0 0;
                     color:rgb(136, 136, 136);
                     
                     @include hover;
                     i{
                        padding: 0 5px 0 0;
                     }
                  }
                  .user_name{
                     color:$color_fs_orange;
                     padding: 0;
                  }
                  .likes{


                  }
                  .discusses{
                     
                  }
               }
               > .status{
                  &.solved{
                     color:$color_fs_orange;
                     border-color: $color_fs_orange;
                     border-style: solid;
                     border-width: 1px;
                     padding: 0px 2px;
                     line-height: 15px;
                  }
                  &.unsolved{
                  }

               }

            }
            .answer{
               @include flex-center;
               align-items: flex-start;
               margin: 30px auto 5px;
               > .avatar_box{
                  align-items: flex-start;
                  width: 120px;
                  @include MCW(861px) {
                     width: 100px;
                  }
                  @include MCW(480px) {
                     width: 100%;
                     padding-bottom: 15px;
                  }
                 > .avatar{
                     border: 3px solid $color_fs_goose;
                     width: 72px;
                     height: 72px;
                     &.student{
                        border-color: #D8D6D7;
                     }
                  }
               }
               > .content_box.type_answer{
                  width: calc(100% - 120px);
                  max-height: unset;
                  @include MCW(861px) {
                     width: calc(100% - 100px);
                  }
                  @include MCW(480px) {
                     width: 100%;
                  }
                  .tips{
                     .user_info{
                        .user_name{
                           border-radius: 50px;
                           padding: 5px 15px;
                           background: $color_fs_orange;
                           color: #fff;
                           font-size: 14px;
                           &.student{
                              padding: 5px 0px;
                              background: unset;
                              color: $color_fs_orange;
                           }
                        }
                     }
                  }
               }
            }
         }
         .trigger{
            position: absolute;
            width: 100%;
            text-align: center;
            @include arl;
            bottom: -15px;
            font-size: 16px;
            color:$color_fs_font_fader;
            cursor: pointer;
            @include hover;
            i{
               position: absolute;
               padding: 0 0 0 5px;
            }
            // &::after{
            //    font-family: 微軟正黑體;
            //    @include fontawesome;
            //    content:'\f0dd';
            //    color:#444;
            // }
         }
         .input{
            @include ff;
            @include ib;
            min-height: 80px;
            width: 100%;
            font-size: 17px;
            border: 1px solid rgb(219, 219, 219);
            padding: 8px;
            margin:  5px 0 15px 0;
            &:focus{
               outline-color:$color_fs_orange;
            }
         }
      }
   }

   //作業樣式
   .homework_description_block{
      @include ibl;
      background-color: #fff;
      width: 100%;
      color:#444;
      > .title{
         @include ibl;
         width:100%;
         color:$color_fs_orange;
      }
      > .subtitle{
         @include ibl;
         width: 100%;
         padding:10px 0;
         border:solid #eee;
         border-width:0 0 1px 0;
      }
      > .content{
         @include ibl;
         line-height: 28px;
         padding:10px 0;
      }
   }

   //學生作業列表
   .course_homework_block{
      @include bs(1px,7px,15px,rgba(88, 88, 88, 0.1));
      @include fxc;
      box-sizing: border-box;
      background-color: #fff;
      width:100%;
      padding: 20px 30px 20px 20px;
      margin: 20px 0 10px;
      @include MCW(700px){
         padding: 14px 15px ;
      }
      > .homework_block{
         @include fxb;
         align-items: flex-start;
         width:100%;
         margin: 15px 0 25px;
         color:#666;
         position: relative;
         @include MCW(700px){
            justify-content: center;
         }
         &:not(:last-child)::after{
            content:' ';
            @include ibl;
            position: absolute;
            width: 100%;
            height: 1px;
            @include arl;
            bottom:-23px;
            background-color: #ddd;
            @include MCW(681px) {
               // display: none;
            }
         }
         > .imagine{
            @include ibl;
            border-radius: 50px;
            width:95px;
            height: 95px;
            overflow: hidden;
            margin: 0 auto;
            border: 4px solid #D8D6D7;
            @include MCW(700px){
               width:65px;
               height: 65px;
            }
         }
         > .content{
            @include ibl;
            width: calc(100% - 150px);
            @include MCW(700px){
               width: 100%;
            }
            > .title_box{
               @include fxb;
               margin: 5px 0  4px  ;
               @include MCW(700px){
                  justify-content: center;
               }
               > .name{
                  @include ibl;
                  padding:5px 13px ;
                  margin:   0 12px 0 0;
                  font-size: 16px;
                  border-radius: 50px;
                  background-color: $color_fs_orange;
                  color:#fff;
                  @include MCW(700px){
                     margin: 0;
                  }
               }
               > .btn_box{
                  @include fxb;
                  @include MCW(700px){
                     width: 100%;
                     justify-content: center;
                  }
                  > .item{
                     @include ibl;
                     padding:3px 5px;
                     border:1px solid ;
                     margin:7px 14px  7px 0;
                     font-size: 14px;
                     @include hover;
                     @include MCW(700px){
                        margin:7px 14px  7px ;
                     }
                  }
                  > .view_homework_btn{
                     border-color:#5e6f79;
                     color:#5e6f79;
                  }
                  > .discuss_btn{
                     border-color:$color_fs_orange;
                     color:$color_fs_orange;
                  }
               }
            }
            > .homework_content{
               @include ibl;
               width: 100%;
               overflow: hidden;
               line-height:28px;
               font-size: 16px;
               margin:0 0 7px 0;
            }
            > .date_box{
               @include fxfs;
               width: 100%;
               font-size:14px;
               > .tip{
                  @include ibl;

                  color:$color_fs_orange;
                  padding:0 8px  0 0;
               }
            }
         }
         > .homework_discussion_block{
            display: none;
         }
      }
   }


   .intro_title{
      @include ibl;
      padding:0 8px;
      color: #555;
      width: 100%;
      margin: 28px  auto 10px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 10px;
   }

   .loading_more{
      @include bl;
      width: 98%;
      cursor: pointer;
      background-color: #E0E0E0;
      text-align: center;
      margin: 20px auto;
      letter-spacing: 3px;
      line-height: 24px;
      padding: 4px  9px;
      @include hover;
   }

   //預計單元
   .unit_list_container{
      @include ibl;
      width: 100%;
      margin: 10px  0;
      padding:0;

      > .unit_title{
         margin: 10px  0;
         > .title{
            font-size: calc(20px + 0.2vw);
            font-weight: bold;
            color: #555;
            i{
               padding: 0 10px  0 0;
            }
         }
         hr{
            background-color: #ddd;
            margin: 18px 0;
         }
         > .subtitle{
            font-size: 18px;
         }
      }

      > .unit_block{
         @include ibl;
         padding: 16px 0 0  ;
         line-height: 26px;
         @include MCW(700px) {
            padding: 8px 0 0  ;
            line-height: 24px;
         }

         > .ele{
            @include ibl;
            width: 100%;
            padding: 12px 18px;
            background-color: #e5e5e5;
            margin: 10px 0;
            @include MCW(700px) {
               margin: 6px 0;
               padding: 8px 12px;
            }
            // box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.116);
            i{
               padding: 0 10px  0 0;
            }
         }
         > .item{
            margin-left: 28px;
            @include MCW(700px) {
               margin-left: 10px;
            }
         }
      }

   }



}

.homework_discussion_block{
   @include fxb;
   box-sizing: border-box;
   align-items: flex-start;
   width: 100%;
   padding: 0 10px 0 0;
   @include MCW(700px){
      justify-content: center;
   }
   > .discussion_title{
      @include ibl;
      width:100%;
      font-size: 24px;
      letter-spacing: 2px;
      color:#222;
      font-weight: bold;
      margin: 0px 0 28px;

   }
   > .imagine{
      @include ibl;
      border-radius: 50px;
      width:95px;
      height: 95px;
      overflow: hidden;
      border: 4px solid #D8D6D7;
      @include MCW(700px){
         width:65px;
         height: 65px;
      }
   }
   > .content{
      @include ibl;
      width: calc(100% - 120px);
      @include MCW(700px){
         width: 100%;
      }
      > .ele{
         @include fxfs;
         float: left;
         width:100%;
         margin: 6px 0 9px;
         color:#555;
         font-size:17px;
      }
      > .chapter_box{
         @include fxfs;
         width:100%;
         color:$color_fs_orange;
         font-size: 18px;
         letter-spacing: 2px;
         @include MCW(700px){
            text-align: center;
         }
      }
      > .title{
         @include fxb;
         width: 100%;
      }
      > .name_box{
         @include fxfs;
         align-items: center;
         margin: 6px 0 ;
         > .name{
            @include ibl;
            padding:5px 13px ;
            font-size: 16px;
            border-radius: 50px;
            background-color: $color_fs_orange;
            color:#fff;
            margin:   0 25px 0 0;
            position: relative;
            &:after{
               content:'';
               @include ibl;
               position:absolute;
               @include atb;
               width: 3px;
               height:3px;
               background-color: #777;
               border-radius: 50px;
               right:-10px;
               @include MCW(780px){
                  display:none;;
               }
            }
         }
         > .date{
            @include ibl;
            font-size:14px;

         }
      }
      > .homework_content{
         @include ibl;
         width: 100%;
         overflow: hidden;
         line-height:29px;
         font-size: 16px;
         margin:10px 0 7px 0;
      }

      //回覆區塊
      > .reanswer_block{
         @include fxfs;
         align-items: flex-start;
         width:100%;
         margin: 12px 0;
         @include MCW(700px){
            justify-content: center;
         }
         > .imagine{
            @include ibl;
            border-radius: 50px;
            width:85px;
            height: 85px;
            overflow: hidden;
            border: 4px solid #D8D6D7;
            @include MCW(700px){
               width:65px;
               height: 65px;
            }
         }
         &.type_teacher{
            > .imagine{
               border-color:$color_fs_goose; 
            }
         }
         > .content{
            @include ibl;
            width: calc(100% - 100px);
            padding: 0 0 0 20px;
            @include MCW(700px){
               width: 100%;
               padding: 0 ;
            }
            > .ele{
               @include fxfs;
               float: left;
               width:100%;
               margin: 6px 0 9px;
               color:#555;
               font-size:17px;
               @include MCW(700px){
                  margin: 15px 0 12px;
               }
            }
            > .chapter_box{
               @include fxfs;
               width:100%;
               color:$color_fs_orange;
               font-size: 19px;
            }
            > .title{
               @include fxb;
               width: 100%;
            }
            > .name_box{
               @include fxfs;
               align-items: center;
               margin: 6px 0 ;
               > .name{
                  @include ibl;
                  padding:5px 13px ;
                  font-size: 16px;
                  border-radius: 50px;
                  background-color: $color_fs_orange;
                  color:#fff;
                  margin:   0 25px 0 0;
                  position: relative;
                  &:after{
                     content:'';
                     @include ibl;
                     position:absolute;
                     @include atb;
                     width: 3px;
                     height:3px;
                     background-color: #777;
                     border-radius: 50px;
                     right:-10px;
                     @include MCW(780px){
                        display:none;;
                     }
                  }
               }
               > .date{
                  @include ibl;
                  font-size:14px;

               }
            }
            > .homework_content{
               @include ibl;
               width: 100%;
               overflow: hidden;
               line-height:29px;
               font-size: 16px;
               margin:10px 0 7px 0;
            }

         }
      }
   }

   //討論區塊
   > .enter_reanswer_block{
      @include fxc;
      width:100%;
      border: solid #ccc;
      border-width:1px 0 0 0;
      margin: 10px 0 ;
      padding: 20px 0 20px;

      > .title{
         @include ibl;
         width:100%;
      }
      > .inputer{
         @include ff;
         @include ibl;
         width: 100%;
         min-height: 120px;
         text-align: left;
         margin: 15px 0;
         font-size: 17px;
         padding: 10px 16px;
         // @include ScrollBar();
         &:focus{
            outline-color:$color_fs_orange;
         }
      }
      > .btn_block{
         @include ibr;
         width:100%;
         text-align: right;
      }
   }
}



//輸入框樣式
.enter_block{
   @include fxfs;
   padding: 30px 40px 20px;
   line-height:24px;
   text-align: left;
   @include MCW(861px) {
      padding: 20px 15px 15px;
   }
   > .title{
      width: 100%;
      padding:10px 0 4px;
   }
   > .content{
      width: 100%;
      min-height: 120px;
   }
   > .selects{
      @include fxfs;
      width: 100%;
      padding:5px 0;
      @include MCW(861px) {
         justify-content: center;
      }
      .select{
         @include ibl;
         @include ff;
         font-size: 16px;
         width:200px;
         margin: 10px 20px 10px 0; 
         padding: 6px;
         border:1px solid #dbdbdb;;
         letter-spacing: 2px;
      }
   }
   > .ratingStar{
      @include fxfs;
      align-items: center;
      > .rating-container {
         display: inline-block;
         padding: 20px 0;
         overflow: hidden;

         .rating {
            float: left;
               > input {
               display: none;
               }

               > label {
               float: right;
               color:#eee;
               &::before {
                  display: inline-block;
                  padding-right: 5px;
                  font-size: 3rem;
                  font-family: FontAwesome;
                  content: '\f005';
                  @include MCW(451px) {
                     font-size: 2.8rem;
                  }
               }
            }

            > .halfstar {
            &::before {
               position: absolute;
               padding-right: 0;
               content: "\f089";
            }
            }

            > .hidden {
            &::before {
               width: 5px;
               padding-right: 0;
               visibility: hidden;
            }
            }
         }
         .rating > input:checked ~ label {
            color: $color_fs_orange;


         }
      }
      > .content{
         font-size: 20px;
         padding: 10px 20px;
         font-weight: bold;
         color: #666;
         @include MCW(451px) {
            padding: 10px 0px;
         }
      }
   }
   textarea{
      @include ff;
      @include ib;
   }
   .input{
      @include ib;
      font-size: 17px;
      border: 1px solid rgb(219, 219, 219);
      padding: 8px;
      margin:  0 0 15px 0;
      &:focus{
         outline-color:$color_fs_orange;
      }
   }
   button{

      margin: 20px 0;
   }
}

.intro_block{
   #CourseIntro{
      @include bl;
      color: $color_fs_font;
      line-height: 30px;
      >h2, > .style-h2{
         @include bl;
         width: 100%;
         font-weight: 600;
         font-size: 19px;
         letter-spacing: 10px;
         color: $color_fs_font-title;
         margin: 20px 0 8px ;
      }
      >p, > .style-p{
         @include bl;
         width: 100%;
         line-height: 30px;
         margin: 15px 0 25px;
      }
      > .style-tb{
         @include bl;
         padding: 15px 30px;
         width: 100%;
         > div{
         @include bl;
         padding: 25px 30px;
         background-color: #E5E3E4;
         }
      }
      >ul, > .style-ul{
         @include bl;
         width: 100%;
         margin: 10px 0 20px;
      }
   }
}