
//  *{outline-color: rgba(255, 118, 87, 0.233);outline-width: 1px;outline-style:solid;}


$color_fs_orange:#FF7757;
$color_fs_pre_goose:#FFB639;
$color_fs_goose:#FFB636;
$color_fs_courseList_goose:#FEA226;
$color_fs_brown:rgb(95, 54, 23);
$color_fs_blue:rgb(67, 112, 179);

$color_fs_gray:#BCBDBC;
$color_fs_gray_2:rgb(161, 161, 161);
$color_fs_gray_3_fadeblue:#5e6f79;;//blue
$color_fs_gray_3_fadeblue_2:#3b4952;//darkerBlue
$color_fs_background_gray:#F1F1F1;
$color_fs_background_gray_bluer:#F6F7F9;//forgetpass

$color_link:rgb(54, 54, 54);
$color_shadow:rgba(77, 77, 77, 0.2);

$color_fs_font-title:rgb(54, 54, 54);
$color_fs_font-title_2:rgb(68, 68, 68);

$color_fs_font:rgb(90, 90, 90);

$color_fs_footer-font:rgb(124, 124, 124);


.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 1300px;
      padding: 20px 10px 10px;
      &.type_article{
         @include fxb;
         align-items: flex-start;
         width: 1300px;
         padding: 10px 10px;
         position: relative;
         @include M1301(){
            width: 100%;
            padding: 10px 10px 10px;
         }
         @include MCW(861px){
            width: 100%;
         }
      }
      @include M1301(){
         width: 100%;
         padding: 10px 10px 10px;
      }
   }
}

#fengso-ArticleDetail{
   @include bl;
   width: 100%;
   overflow: hidden;
   .bread_crumb_block{
      .bread_crumb{
         .bread_crumb_item{
            font-size: 14px;
         }
      }
   }
   .tags_block{
      @include ib;
      width: 100%;
      padding: 15px 0 5px;
      .tags_list{
         @include fxfs;
         .tag{
            @include tst(.2s);
            min-width: 80px;
            padding: 6px 8px;
            margin: 6px 18px  6px 0;
            text-align: center;
            background:#D7D7D7;
            border-radius: 3px;
            font-size: 15px;
            cursor:pointer;
            @include selection-none;
            &.active{
               background:$color_fs_orange;
               color: #fff;
            }
         }
      }
   }
   .sort_block{
      @include ib;
      width: 100%;
      padding: 5px 0;
      text-align: center;
      font-size: 16px;
      .sort_item{
         @include ibl;
         @include tst(.2s);
         padding: 6px 8px;
         margin: 6px 8px  6px 0;
         @include selection-none;
      }
      .sort_list{
         > .btn{
            cursor:pointer;
            position: relative;
            &.active{
               color: $color_fs_orange;
            }
            &:not(:last-child):after{
                   content:'';
                  @include b;
                  width: 2px;
                  height: 60%;
                  background-color:$color_fs_gray; 
                  position: absolute;
                  right: -6px;
                  top:0;
                  bottom: 0;
                  margin: auto 0;
            }
         }
      }
   }

   .article_detail_content{
      width: 72%;
      @include M1301(){
         width: 100%;
      }
   }
   .article_detail_recommend{
      width:25% ;
      @include M1301(){
         width: 100%;
      }
      > .title{
         @include ib;
         width: 100%;
         padding: 15px 0 15px 8px;
         font-size: 20px;
         @include M1301() {
            padding: 15px 0 24px 8px;
         }
      }
   }
   .article_detail_block{
      @include fxv;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;
      height:unset;
      @include MCW(780px) {
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
      }
      a{
         &:hover{
            opacity: .9;
         }
      }
      .article_block{
         @include fxc;
         width:100%;
         margin: 0px 0 80px 0;
         @include MCW(780px) {
            // width:100%;
            margin: 0px 0 40px 0;
         }
         > .title{
            @include ibl;
            width:100%;
            font-size: 20px;
            font-weight: bold;
            color:$color_fs_font-title;
            line-height: 28px;
            padding: 10px 0 30px ;
         }
         > .info_block{
            @include fxb;
            width: 100%;
            font-size: 13px;
            color: rgb(156, 156, 156);
            padding: 10px 0 ;
            > .tags{
               @include fxb;
               @include MCW(861px) {
                  padding: 8px 0 ;
               }
               .tag{
                  padding:5px 12px ;
                  margin: 0 15px 0 0;
                  background: #182432;
                  color:#fff;;
               }
            }
            > .date{
               letter-spacing: 1px;
            }
            > .hr{
               margin: 16px 0 18px;
            }
            > .share_block{
               @include fxfe;
               align-items: center;
               width: 100%;
               margin: 5px 0;
               > .title{
                  @include ibl;
                  padding:  0 0px  0 12px;
                  font-size: 16px;
                  color: #333;
               }
               > .ele{
                  @include ibl;
                  padding:  0 0px  0 12px;
                  font-size: 30px;
                  @include hover;
                  &.fb{
                     color:#3b5998;
                     font-size: 32px;
                  }
                  &.line{
                     color:#54CF01;
                     height: 30px;
                     overflow: hidden;
                     img{
                        width: 100%;
                        height: 100%;
                     }
                  }
               }
            }
         }
         > .image_box{
            @include bl;
            max-width: 1000px;
            width: 100%;
            height: 310px;
            img{
               @include tst;
               &:hover{
                  transform: scale(1.1);
               }
            }
             @include MCW(780px) {
               width:100%;
               height: 54vw;
            }
         }
         > .content{
            @include bl;
            padding: 24px  0px 40px;
            width: 100%;
            line-height: 28px;
            letter-spacing: 1px;
            font-size: 16px;
            overflow: hidden;
            color:#6c6c80;
            @include MCW(781px) {
               width:100%;
               padding: 15px  10px 10px;
            }
         }
      }
   }

   .course_list_block{
      @include fxfe;
      align-items: flex-start;
      overflow: hidden;
      // width: calc(100% - 300px);
      margin:  0 auto;
      width: 100%;
      @include tst;
      @include M1301() {
         justify-content: center;
      }

      .course_block{
         @include ibl;
         width: 300px;
         margin: 0 10px 30px ;
         @include tst;
         @include MCW(780px) {
            margin: 0;
            padding: 0 6px 30px ;
            width: 50%;
         }

         a{
            @include b;
            &:hover{
               opacity: 1;
               //transform: translate(0px,-7px);
            }
         }
         &.preorder{
            position: relative;
            &::after{
               content:'+預購課程';
               @include b;
               padding: 6px 8px;
               color:#fff;
               font-size: 14px;
               background-color:$color_fs_courseList_goose; 
               position: absolute;
               z-index: 10;
               top:0;
               right:0;
               letter-spacing: 2px;
               @include hover;
            }
   
         }
         .image{
            width: 100%;
            height: 165px;
            
            @include tst;
            @include MCW(780px) {
               height: 26vw;
            }
            > img{
               @include tst;
               &:hover{
                  transform: scale(1.1);
               }
            }
            &:hover{
               opacity: 1;
            }
         }
         .content{
            @include flex-center;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin: 25px 0 0px;
            line-height: 24px;
            height: 52px;
            overflow: hidden;
            @include MCW(580px) {
               font-size: 15px;
               margin: 15px 0 4px;
            }
         }
         .infos{
            @include flex-center;
            justify-content: space-between;
            width: 100%;
            .tips{
               
               font-size: 13px;
               color: rgba(85, 85, 85, 0.63);
               @include MCW(601px) {
                  padding: 0 0 8px 0;
               }
               .element{
                  padding:  0 5px 0 0 ;
                  i{
                     padding:  0 5px 0 0 ;
                  }
               }
            }
            .price{
               
               font-size: calc(19px + 0.4vw);
               color:$color_fs_orange;
               .preprice{
                  @include ibl;
                  font-size:13px;
                  color: rgb(34, 34, 34);
                  padding-right: 4px;
                  line-height: 22px;
                  .onsale{
                     font-size: 12px;
                     padding: 2px 4px; 
                     background-color: $color_fs_courseList_goose; ;
                     color:#fff;;
                     margin-left:6px;
                  }
                  @include MCW(391px) {
                     padding: 0 0 8px 0;
                     width: 100%;
                  }
               }
            }
         }
          .teacher_block{
            @include flex-center;
            width:100%;
            float: left;
            padding: 5px 0;
            justify-content: space-between;
            @include hover;
            .teacher_avatar{
               width: 50px;
               height: 50px;
               border-radius: 50px;
               overflow:hidden;
            }
            .intro{
               width: calc(100% - 70px);

               line-height: 28px;
               @include nowrap;
               
               .name{
                  padding: 2px 0;
               }
               > .intro_content{
                  color:$color_fs_gray_2;
                  max-height: 30px;
                  font-size: 15px;
                  @include nowrap;
               }
            }
         }
      }
   }
   .pager_block{
      @include fxc;
      width: 100%;
      padding: 20px 0 40px;

      @include MCW(580px) {
          padding: 0px 0 40px;
      }
      .pager{
         // @include flex-center;
         // justify-content: space-between;
         @include ib;
         width: auto;
         margin:20px auto;;
         padding: 0 50px 0;
         @include MCW(580px) {
            padding: 0 15px 0;
         }
         &.type_pagination{
            @include fxc;
            align-items: center;
            > .pager_prev{
               > a{
                  @include fxc;
                  max-width: 310px;
               }
               .icos{
                  @include ibl;
                  width: 40px;
                  height: 40px;
                  background-image:url("../img/artdetail_prev.svg");
                  background-position: center;
                  background-size: 100%;
                  opacity:.4;
               }
               .title{
                  @include nowrap;
                  padding: 5px 10px;
                  max-width: 200px;
               }
            }
            > .deco{
               @include ibl;
               height: 20px;
               width:1px;;
               background: #999;
               margin: 0 15px;
               @include MCW(671px) {
                  display:none;;
               }
            }
            > .pager_next{
               > a{
                  @include fxc;
                  max-width: 310px;
               }
               .icos{
                  color: #54CF01;
                  @include ibl;
                  width: 40px;
                  height: 40px;
                  background-image:url("../img/artdetail_next.svg");
                  background-position: center;
                  background-size: 100%;
                  opacity:.4;
               }
               .title{
                  @include nowrap;
                  padding: 5px 10px;
                  max-width: 200px;
               }
            }
         }

         .pager_number{
            @include ibl;
            padding: 12px 15px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            background-color: rgb(218, 218, 218);
            @include hover;

            &.active{
                background-color:#172532;
                color: #fff;
            }
         }

      }
   }


}

.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

