
$color_fs_orange:#FF7757;
$color_fs_pre_goose:#FFB639;
$color_fs_goose:#FFB636;
$color_fs_courseList_goose:#FEA226;
$color_fs_brown:rgb(95, 54, 23);
$color_fs_blue:rgb(67, 112, 179);
$color_fs_background_gray_bluer:#F6F7F9;//forgetpass

$color_fs_gray:#BCBDBC;
$color_fs_gray_2:rgb(161, 161, 161);
$color_fs_gray_3_fadeblue:#5e6f79;;//blue
$color_fs_gray_3_fadeblue_2:#3b4952;//darkerBlue
$color_fs_background_gray:#F1F1F1;

$color_link:rgb(54, 54, 54);
$color_shadow:rgba(77, 77, 77, 0.2);

$color_fs_font-title:rgb(54, 54, 54);
$color_fs_font-title_2:rgb(68, 68, 68);

$color_fs_font:rgb(90, 90, 90);
$color_fs_font_fader:rgb(110, 110, 110);

$color_fs_footer-font:rgb(124, 124, 124);


//rwd 
//container 1301px
//

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.course_info_trigger{
      background-color: $color_fs_background_gray_bluer;
      overflow: visible;
   }
   .container{
      @include b;
      position: relative;
      margin:  0 auto;
      width: 1300px;
      padding: 20px 10px ;
      &.type_trigger{
         @include fxb;
         align-items: flex-start;
         width: 1300px;
         padding: 20px 10px;
         position: relative;
         @include M1301(){
            width: 100%;
            padding: 20px 10px;
         }
         @include MCW(861px){
            width: 100%;
            padding: 20px 0px;
         }
      }
      &:after{
            content:'';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
      }
      @include M1301(){
         width: 100%;
         padding: 10px 10px 10px;
      }
   }
}

#fengso-Teacher{
   @include bl;
   width: 100%;
   overflow: hidden;
   line-height: 20px;

   .bread_crumb_block{
      .bread_crumb{
         .bread_crumb_item{
            font-size: 14px;
         }
      }
   }

   .title_block{
      @include ibl;
      width:100%;
      padding:  30px 0  10px;
      @include M1301(){
         padding:  24px   15px 10px;
      }
      &.type_rate{
         padding:  27px 0  37px;
         @include M1301(){
            padding:  18px   15px 20px;
         }
      }

      > .title{
         @include fxfs;

         align-items: flex-end;
         width: 100%;
         color:#222;
         font-weight: bold;
         font-size: calc(19px + 0.2vw);
         letter-spacing: 4px;
         > .item{
            @include ibl;
            padding:  0 14px 0 0;
         }
         > .ico{
            color:$color_fs_orange;
            font-size: 26px;
            i{
               font-size: 37px;
            }
         }
      }
      > .subtitle{
         @include ibl;
         width:100%;
         padding: 14px 0 0;
         letter-spacing: 2px;
         line-height: 26px;
      }
      .tip{
         color:$color_fs_orange;;
      }
   }

   .tags_block{
      @include ib;
      width: 100%;
      padding: 10px 0 ;
      @include MCW(861px) {
         padding: 10px 15px ;
      }
      .tags_list{
         @include fxfs;
         .tag{
            @include tst(.2s);
            min-width: 80px;
            padding: 6px 8px;
            margin: 6px 18px  6px 0;
            text-align: center;
            background:#D7D7D7;
            border-radius: 3px;
            font-size: 15px;
            cursor:pointer;
            @include selection-none;
            &.active{
               background:$color_fs_orange;
               color: #fff;
            }
         }
      }
      .course_search{

         @include PlaceHolder-Style(rgb(145, 145, 145),.9);
         @include tst;
         @include ib;
         text-decoration: none;

         border-width: 1px;
         border-style: solid;
         border-color:  rgb(184, 184, 184);
         outline: none;
         letter-spacing: 1px;

         padding: 4px 10px;
         font-size: 17px;
         width: 185px;
         &:focus{
            border-color:  #FF7757;
            box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
         }
      }
   }

   .swiper_pager_container{
      @include ibl;
      width:100%;
      position: relative;
      margin: 0 auto;
      @include MCW(1451px) {
         @include fxc;
         display: flex;
      }
   }

   .teacher_course_list_block{
      @include fxv;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;
      @include tst;
      transition-delay: .3s;
      position: relative;
      margin: 0 0 20px 0;
      max-height: 230px;
      @include MCW(1451px) {
         overflow: hidden;
      }

      @include MCW(780px) {
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
         max-height: unset;
      }
      a{
         @include b;
         &:hover{
            opacity: .9;
         }
      }
      .course_block{
         @include fxb;
         width:100%;

         position: relative;
         padding: 15px 0;
         @include MCW(780px) {
            @include b;
            width:100%;
            margin: 0px 0 40px 0;
         }
         &.preorder{
            position: relative;
            .image_box::after{
               content:'預購課程';
               @include b;
               padding: 6px 8px;
               color:#fff;
               font-size: 15px;
               background-color:$color_fs_courseList_goose; 
               position: absolute;
               z-index: 10;
               top:0;
               right:0px;
               letter-spacing: 3px;
               font-weight: bold;
               @include hover;
               @include MCW(701px) {
                  letter-spacing: 0px;
                  padding: 3px 4px;
                  font-size: 12px;
                  right:5px;
               }
            }
         }
         .image_box{
            @include bl;
            width: 355px;
            height: 200px;
            img{
               @include tst;
               &:hover{
                  transform: scale(1.1);
               }
            }
             @include MCW(780px) {
               width:100%;
               height: 54vw;
            }
         }
         .content_box{
            @include bl;
            width: calc(100% - 380px);
            overflow: hidden;
            padding: 16px  30px  ;
            border: 1px solid rgb(197, 197, 197);
            @include MCW(861px) {
               padding: 16px  10px  ;
            }
            @include MCW(781px) {
                width:100%;
            }
            > .title{
               @include b;
               width: 100%;
               font-size: 18px;
               font-weight: 600;
               color:rgb(92, 92, 92);
               line-height: 29px;
               height: 52px;
               overflow: hidden;
               a{
                  color:rgb(92, 92, 92);
                  @include multi_nowrap;
               }
            }
            > .tips{
               @include flex-center;
               justify-content: space-between;
               width: 100%;
               font-size: 13px;
               color: rgb(156, 156, 156);
               
               > .tips_box{
                  @include fxb;
                  padding: 19px 0 15px;
                  @include MCW(861px) {
                     padding: 8px 0 ;
                  }
                  @include MCW(501px) {
                     width: 100%;
                  }
                  > .elem{
                     margin:  0 15px 0 0;
                     font-size: 15px;
                     letter-spacing: 1px;
                     padding: 4px 0;
                     i{
                        padding: 0 5px 0 0;

                     }
                  }
                  > .tags{
                     padding:2px 12px ;
                     background: $color_fs_orange;
                     color:#fff;;
                     border-radius: 5px;
                     font-size: 12px;
                  }
                  > .count{
                     color: rgb(165, 165, 165);
                     @include MCW(681px) {
                       
                     }
                  }
                  > .hours{
                     color: rgb(165, 165, 165);
                     @include MCW(681px) {
                        
                     }
                  }
               }
               > .price_box{
                  @include MCW(861px) {
                     padding: 8px 0 ;
                  }
                  > .price{
                     color: $color_fs_orange;
                     width:100%;
                     font-size: calc(22px + 0.1vw);
                  }
               }
            }
            > .controls{
               @include fxb;
               align-items: center;
               width: 100%;
               line-height: 24px;
               font-size: 17px;
               color: rgb(112, 112, 112);
               letter-spacing: 2px;
               overflow: hidden;
               > .item{
                  @include fxb;
                  @include tst;
                  width: 250px;
                  @include MCW(1451px) {
                     width: 32%;
                     min-width:30%;
                  }
                  @include MCW(681px) {
                     width: 100%;
                     margin: 3px 0;
                  }
                  > .elem{
                     @include fxc;
                     width: 100%;
                     text-align: center;
                     height: 55px ;
                     padding:  9px 15px ;
                     border: 1px solid $color_fs_orange;
                     color: $color_fs_orange;
                     @include hover;
                     > i{
                        padding: 0 10px 0 0 ;
                        font-size: 24px;
                        @include MCW(950px) {
                           display:none;
                        }
                        @include MCW(700px) {
                           display:block;
                        }
                     }
                     > .text{
                        padding: 2px 0 0 0 ;
                     }
                  }
                  &.active{
                     background-color: $color_fs_orange;
                     > .title{
                        color: #fff;


                     }
                  }
               }
            }
            > hr{
               margin: 14px 0 8px;
            }

         }

      }
   }

   //切換容器
   .teacher_page_item{
      @include ibl;
      width:100%;

      margin: 15px 0;
   }

   .tag_tabs_item{
      @include ibl;
      width:100%;
      padding: 15px 0 ;
   }

   .search_and_sort_block{
      @include fxb;
      box-sizing: border-box;
      width: 100%;
      margin: 10px 0 15px;

      .course_discuss_control_panel{
         @include fxfs;
         width: 100%;
         box-sizing: border-box;
         @include MCW(861px) {
            width: 100%;
            margin: 0;
            padding: 5px;
         }
         .picker{
            @include ibl;
            @include selection-none;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            background-color: transparent;
            border: 0px;
            outline: none;
            color: $color_fs_font_fader;
            margin:6px 5px 6px 0;;
            padding: 5px 18px 5px 10px ;
            letter-spacing: 3px;
            @include MCW(861px) {
               margin-right: 0;
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
               
            }
         }
         .picker_unit{
            @include ibl;
            font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
            height: 34px;
            outline: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 50px;
            border-color: #fff;
            background: #fff;
            margin:6px 0;;
            padding: 0px 5px 2px 15px;
            @include MCW(861px) {
               width: 48%;
            }
            @include MCW(460px) {
               width: 100%;
            }
         }
         .searcher{
            @include ibl;  
            margin: 0px 0px 0 0;
            width: 100%;

            max-width: 760px;
            height: 36px;
            outline: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 50px;
            border-color: #fff;
            background: #fff;
            padding: 5px 14px 0 20px;
            @include ds(4px,4px,6px,#eee);
            margin:6px 0;
            @include M1301() {
               margin-right:  10px ;
               .search_input{
                  width: 120px;
               }
            }
            @include MCW(861px) {
               width: 100%;
            }
            .search_input{
               @include ibl;  
               @include PlaceHolder-Style();
               font-size: 17px;
               
               border:0px solid;;
               width: 90%;
               outline: none;
               @include MCW() {
                  width: 50%;
               }
            }
            .search_start{
               @include ibr;  
               cursor: pointer;
               padding: 3px  0 0 0;
               color: rgba(138, 138, 138, 0.6);
               font-size: 18px;
               position: relative;
               margin:0px 0 0 ;
            }
            
         }
         datalist{
            option{
               margin: 10px 0 ;
            }
         }
         @include MCW(861px) {
            margin: 0;
         }
      }
      .btns{
         @include ib;
         width: 100%;
      }
   }

   .course_discuss_blocks{
      @include ibl;
      @include bs(1px,7px,15px,rgba(88, 88, 88, 0.1));
      @include flex-center;
      background-color: #fff;
      width:100%;
      padding: 20px 30px 20px 20px;
      margin: 10px 0 10px;
      .course_discuss_block {
         @include flex-center;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
         ;
         margin: 26px 0;
         position: relative;

         .avatar_box {
            @include ibl;
            width: 150px;

            @include MCW(861px) {
               width: 100%;
            }

            .avatar {
               @include b;
               margin: 0 auto;
               border: 4px solid #D8D6D7;
               overflow: hidden;
               border-radius: 100px;
               width: 100px;
               height: 100px;
            }

            .name {
               @include b;
               text-align: center;
               margin: 10px auto;
            }
         }

         .content_box {
            @include ibl;
            width: calc(100% - 150px);
            line-height: 30px;
            font-size: 17px;
            max-height: 112px;
            overflow: hidden;
            color: $color_fs_font_fader;

            @include MCW(861px) {
               width: 100%;
            }

            &.expand {
               max-height: unset;
               overflow: auto;
            }

            &.expand {
               max-height: unset;
               overflow: auto;
            }

            >.chapter_block {
               width: 100%;
               color: $color_fs_orange;
               font-size: 16px;
               letter-spacing: 2px;

               @include MCW(861px) {
                  padding: 10px 0;
                  text-align: center;
               }
            }

            >.title {
               @include nowrap;
               margin: 6px 0;
               font-size: .9em;
            }

            >.content {
               margin: 6px 0;
               line-height: 1.9em;
               font-size: .9em;
            }

            >.tips {
               margin: 2px 0;
               @include flex-center;
               justify-content: space-between;
               font-size: 12px;

               >.user_info {
                  .element {
                     padding: 0 8px 0 0;
                     color: rgb(136, 136, 136);

                     @include hover;

                     i {
                        padding: 0 5px 0 0;
                     }
                  }

                  .user_name {
                     color: $color_fs_orange;
                     padding: 0;
                  }

                  .likes {}

                  .discusses {}
               }

               >.status {
                  &.solved {
                     color: $color_fs_orange;
                     border-color: $color_fs_orange;
                     border-style: solid;
                     border-width: 1px;
                     padding: 0px 2px;
                     line-height: 15px;
                  }

                  &.unsolved {}

               }

            }

            .answer {
               @include flex-center;
               align-items: flex-start;
               margin: 30px auto 5px;

               >.avatar_box {
                  align-items: flex-start;
                  width: 120px;

                  @include MCW(861px) {
                     width: 100px;
                  }

                  @include MCW(480px) {
                     width: 100%;
                     padding-bottom: 15px;
                  }

                  >.avatar {
                     border: 3px solid $color_fs_goose;
                     width: 72px;
                     height: 72px;

                     &.student {
                        border-color: #D8D6D7;
                     }
                  }
               }

               >.content_box.type_answer {
                  width: calc(100% - 120px);
                  max-height: unset;

                  @include MCW(861px) {
                     width: calc(100% - 100px);
                  }

                  @include MCW(480px) {
                     width: 100%;
                  }

                  .tips {
                     .user_info {
                        .user_name {
                           border-radius: 50px;
                           padding: 5px 15px;
                           background: $color_fs_orange;
                           color: #fff;
                           font-size: 14px;

                           &.student {
                              padding: 5px 0px;
                              background: unset;
                              color: $color_fs_orange;
                           }
                        }
                     }
                  }
               }
            }
         }

         .trigger {
            @include fxc;
            position: relative;
            width: 100%;
            text-align: center;
            min-height: 1em;
            @include arl;
            bottom: -10px;
            font-size: .9em;
            color: $color_fs_font_fader;
            cursor: pointer;
            @include hover;

            i {
               position: relative;
               padding: 0 0 0 7px;
            }

            // &::after{
            //    font-family: 微軟正黑體;
            //    @include fontawesome;
            //    content:'\f0dd';
            //    color:#444;
            // }
         }

         .input {
            @include ff;
            @include ib;
            min-height: 80px;
            width: 100%;
            font-size: 17px;
            border: 1px solid rgb(219, 219, 219);
            padding: 8px;
            margin: 5px 0 15px 0;

            &:focus {
               outline-color: $color_fs_orange;
            }
         }
      }
   }

   .course_rate_block{
      @include ibl;
      @include bs(1px,7px,15px,rgba(88, 88, 88, 0.1));
      @include flex-center;
      background-color: #fff;
      width:100%;
      padding: 20px 30px 20px 20px;
      margin: 15px 0;
      @include hos;
      @include MCW(861px) {
         width: 100%;
         padding: 15px 20px 10px;
      }
      .avatar_box{
         @include ibl;
         width: 150px;
         color:$color_fs_font_fader;
         .avatar{
            @include b;
            margin: 0 auto;
            border: 4px solid #D8D6D7;
            overflow: hidden;
            border-radius: 100px;
            width: 100px;
            height: 100px;
         }
         .name{
            @include b;
            text-align: center;
            margin: 10px auto;
         }
      }
      .content_box{
         @include ibl;
         width: calc(100% - 150px);
         margin: 6px 0;
         line-height: 30px;
         font-size: 17px;
         color:$color_fs_font_fader;
         @include MCW(861px) {
            width: 100%;
         }
         > .title_box{
            @include flex-center;
            justify-content: space-between;
            margin: 6px 0;
            > .title{
               max-width: calc(100% - 90px);
               width:100%;
               margin: 6px 0;
            }
            > .content{
               margin: 6px 0;
            }
            > .rated_score{
               padding: 0 10px 0 0;
               color:$color_fs_orange;
               font-size: 22px;
               font-weight: 600;
               i{
                  padding:  0 5px 0 0;
               }
            }
         }

         .tips{
            @include flex-center;
            justify-content: space-between;
            font-size: 12px;
            color:$color_fs_orange;
            a{
               color:$color_fs_font_fader;
            }
         }
      }
   }
   
   .loading_more{
      @include bl;
      width: 98%;
      cursor: pointer;
      background-color: #E0E0E0;
      text-align: center;
      margin: 20px auto;
      letter-spacing: 3px;
      line-height: 24px;
      padding: 4px  9px;
      @include hover;
   }

   .pager_block{
      @include fxc;
      width: 100%;
      padding: 20px 0 40px;

      @include MCW(580px) {
          padding: 0px 0 40px;
      }
      .pager{
         // @include flex-center;
         // justify-content: space-between;
         @include ib;
         width: auto;
         margin:20px auto;;
         padding: 0 50px 0;
         @include MCW(580px) {
            padding: 0 15px 0;
         }
         .pager_number{
            @include ibl;
            padding: 12px 15px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            background-color: rgb(218, 218, 218);
            @include hover;

            &.active{
                background-color:#172532;
                color: #fff;
            }
         }
      }
   }



}

.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

.img_box{
   > img{
      max-width:100%;
      max-height:100%;
   }
}

.swiper_pager_container{
   width:100%;
   
   .teacher_course_prev ,
   .teacher_course_next {

      outline:none;
      background-size: 18px;
   }
   .teacher_course_prev {
      background-image: url("../img/teacherCourse_prev.svg");
      left: -45px;
      right: auto;
      @include MCW(1451px) {
         left: 6px;
      }
   }
   .teacher_course_next {
      background-image: url("../img/teacherCourse_next.svg");
      right:-45px;
      left: auto;
      @include MCW(1451px) {
         right:6px;
      }
   }
   .teacher_course_prev.swiper-button-disabled, 
   .teacher_course_next.swiper-button-disabled{
      opacity: .4;
   }
}



.line-scale-pulse-out-rapid {
   @include fxc;
   > div {
      background-color: #ff6155!important;
   }
}
