// @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
// @import url("https://fonts.googleapis.com/earlyaccess/cwtexming.css");
// @import url("https://fonts.googleapis.com/earlyaccess/cwtexkai.css");
// @import url("https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css");
// @import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
/* This text is in Century Gothic */


//  *{outline-color: rgba(255, 118, 87, 0.233);outline-width: 1px;outline-style:solid;}

$color_fs_orange:#FF7757;
$color_fs_pre_goose:#FFB639;
$color_fs_goose:#FFB636;
$color_fs_courseList_goose:#FEA226;
$color_fs_brown:rgb(95, 54, 23);
$color_fs_blue:rgb(67, 112, 179);
$color_fs_background_gray_bluer:#F6F7F9;//forgetpass

$color_fs_gray:#BCBDBC;
$color_fs_gray_2:rgb(161, 161, 161);
$color_fs_gray_3_fadeblue:#5e6f79;;//blue
$color_fs_gray_3_fadeblue_2:#3b4952;//darkerBlue
$color_fs_background_gray:#F1F1F1;

$color_link:rgb(54, 54, 54);
$color_shadow:rgba(77, 77, 77, 0.2);

$color_fs_font-title:rgb(54, 54, 54);
$color_fs_font-title_2:rgb(68, 68, 68);

$color_fs_font:rgb(90, 90, 90);

$color_fs_footer-font:rgb(124, 124, 124);

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.course_intro{
      background-color: $color_fs_background_gray;
      // margin: -30px 0 30px 0;
      
   }
   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 1300px;
      padding: 40px 20px;
      &.type_2{
         width: 100%;
         padding: 30px 0px 0px;
         position: relative;
         &:after{
               content:'';
               display: block;
               height: 0;
               clear: both;
               visibility: hidden;
         }
         @include M1301() {
            // padding: 10px 0px 10px;
         }
      }
      &.type_3{
         width: 100%;
         padding: 40px 20px;
      }
      &.type_4{
         padding: 50px 20px 60px;
         position: relative;
         @include M1301() {
            padding: 30px 20px 60px;
         }
      }
      @include M1301() {
         width: 100%;
         padding: 30px 0px 10px;
      }
   }
}

.video_box{
   @include ibl;
   width: 100%;
   margin: 15px 0 0;
   overflow: hidden;
   iframe{
      width: 100%;
      height: 100%;
   }
}

#fengso-productDetail{
   
   .course_main_block{
      @include bl;
       @include M1301() {
         width: 100%;
      }
      .col{
         @include ibl;
      }
      .course_info{
         @include ibl;
         width: 853px;
         overflow: hidden;
         @include M1301() {
            width: 100%;
         }
         .info_block{
            @include ibl;
            width: 100%;
            overflow: hidden;
            @include M1301() {
               padding: 0 15px;
            }
            .course_title{
               @include ibl;
               width: 100%;
               margin:  28px 0 5px;
               line-height: 26px;
               @include M1301() {
                  margin:  12px 0 5px;
               }
               .title{
                  @include ibl;
                  font-size: 18px;
                  font-weight: 600;
                  color: $color_fs_font-title;
                  max-width: 80%;
                  @include M1301() {
                     width: 100%;
                     max-width: unset;
                  }
               }
               .course_popularity{
                  @include flex-center;
                  float: right;
                  width: 20%;
                  justify-content: space-between;
                  font-size: 14px;
                  color: $color_fs_gray_2;
                  @include M1301() {
                     margin: 10px 0 5px;
                     width: 200px;
                     max-width: 300px;
                  }
                  > .popularity_item{
                     @include tst;
                     cursor: pointer;
                     &:hover{
                        color:$color_fs_orange;
                     }
                  }
               }
            }
            .content{
               @include ibl;
               font-size: 15px;
               line-height: 22px;
               height: 44px;
               overflow: hidden;
               text-overflow: ellipsis;
               //white-space: nowrap;
               width: 100%;
            }
         }
         .video_block{
            @include ibl;
            width: 100%;
            margin:  5px 0 0;
            .course_video{
               height: 480px;
               @include MCW(710px){
                  height: 57vw;
                  max-height: 400px;
               }
            }
         }
      }
      .course_list{
         @include fxc;
         margin: 39px 0px 0 0px;
         width: 370px;   
         @include M1301() {
            width: 100%;   
            margin:  30px 0 0;
         }
         .rate_block{
            @include fxc;
            width: 100%;
            height: 102px;
            padding: 20px 0px 0 0px;
            position: relative;
            &.dp-tab{
               @include M1301() {
                  display: none;
               }
            }
            &.dp-mob{
               display: none;
               height: 70px;
               padding: 10px 0px  0px;
               @include M1301() {
                  @include flex-center;
                  justify-content: center;
               }
            }
            @include M1301() {
               padding: 0px;
            }
            .act{
               @include fxc;
               @include selection-none;
               @include tst(.2s);
               padding: 0px;
               position:relative;
               width: 50%;
               @include M1301() {
                  width: 50%;
                  max-width: 150px;
               }
            }
            .btn{
               @include ibl;
               font-size: 36px;
               padding: 10px 0;
            }

            .act_name{
               @include ibl;
               width: auto;
               padding-left:10px; 
               color: $color_fs_gray_2;
               // margin: 19px 0 0;
            }
            //self_style
            .rate{
               color: $color_fs_orange;
            }

            .add_to_list{
               color: $color_fs_gray;
               @include M1301() {
                  width: 160px;
               }
               cursor: pointer;
               &.active{
                  color: $color_fs_orange;
               }
               &.animate{
                  &::before{
                     content:'Added';
                     position:absolute;
                     @include arl;
                     top: 10px;
                     opacity: 0;;
                     @include animate-plus;
                  }
               }

            }
            &::after {
               content: '';
               @include b;
               width: 1px;
               height: 50px;
               background-color: $color_fs_gray;
               @include aa;
               top: 20px;
               position: absolute;
               display: none;
            }
         }
         .list_block{
            @include ibl;
            width: 100%;
            height: 480px;
            background-color: $color_fs_background_gray;
            padding: 0px 5px 0;
            position: relative;
            overflow: hidden;
            @include selection_none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            @include M1301() {
               height: 320px;
            }
            &::after{
               content:' ';
               position: absolute;
               @include b;
               @include arl;
               width: 100%;
               height: 28%;
               bottom:0px;
               background: linear-gradient(to top ,rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0));
               pointer-events: none;
            }
            .list_tab{
               @include ibl;
               width: 100%;
               padding: 0px 15px;
               .tab_panel{
                  @include ibl;
                  width: 50%;
                  text-align: center;
                  font-size: 18px;
                  padding: 25px 0 ;
                  border-bottom:1px;
                  border-style:solid;
                  border-color:$color_fs_gray;
                  cursor: pointer;
                  @include M1301() {
                     padding: 18px 0 ;
                     font-size: 16px;
                  }
                  a{
                     color: rgb(136, 136, 136);
                  }
                  &.active{
                     border-color:$color_fs_orange;
                     font-weight: 600;
                     a{
                        color: rgb(70, 70, 70);
                     }
                  }
               }
            }
            .course_type_list{
               @include ibl;
               @include ScrollBar;
               display: none;
               padding: 10px 0 0 0;
               &::-webkit-scrollbar {
                  width: 2px;
                  background-color:rgba(196, 196, 196, 0.9);
               }
               &::-webkit-scrollbar-thumb {
                  background: rgb(116, 116, 116);
               }
               width: 100%;
               height: 85%;
               // padding: 0px 0 0 24px;
               overflow-x: hidden;
               overflow-y:scroll; 
               &.active{
                  display: block;
               }
               .course_list_content{//ul
                  @include ibl;
                  // overflow: hidden;
                  width: 100%;
                  > .course_list_item{//li
                     @include fxb;
                     // @include tst(.2s);
                     @include selection-none;
                     cursor: pointer;
                     width: 100%;
                     position: relative;
                     padding: 10px 0 10px 24px;
                     transition:.2s all ease-in-out;
                     @include M1301() {
                        padding: 4px 0 4px 24px;
                        font-size: 14px;
                     }
                     &:not(:last-child)::after {
                        content: '';
                        position: relative;
                        bottom: -12px;
                        width: 100%;
                        height: 1px;
                        left: -15px;
                        background-color: #dbdbdb;
                     }
                     &:hover{
                        background-color: #f8f8f8;
                        opacity: .9;
                        transform: translate(-1px, 0px);
                     }
                     &.active{
                        @include bs(5px,5px,10px,rgba(82, 82, 82, 0.301));
                        background-color: #fff;
                        width: 100%;
                        transform: translate(-10px,0px);
                        pointer-events: none;
                        cursor: default;
                        //width: 118%;
                        //padding-left:62px;
                        .icon{
                           .play_btn{
                              background: $color_fs_orange;
                              .triangle{
                                 border-color: transparent transparent transparent #ffffff;
                              }
                           }
                        }
                        &::after {
                           opacity: 0;
                        }
                     }

                     // &::after{

                     // }
                     &.chapter_list{
                        &:hover{
                           transform: translate(0px, 0px);
                           opacity: 1;
                           background-color: unset;
                        }
                        .content {
                           &:first-child {
                              .title{
                                 @include fxfs;
                                 font-weight: bold;
                                 @include multi_nowrap;
                              }
                           }
                        }
                     }

                     .chapter {
                        @include ibl;
                        width: 100%;
                        i {
                           padding: 0 5px 0 0;
                        }
                     }

                     .infos {
                        @include fxfe;
                        padding: 4px 10px 4px 0;
                        color: rgb(110, 110, 110);
                        width: 100%;
                        max-width: 50px;
                     }

                     .time {
                        @include ibl;
                        text-align: right;
                        color: $color_fs_orange;
                        padding: 2px 0 4px 0;
                        min-width: 50px;
                     }

                     .content{
                        @include fxb;
                        float: left;
                        width: 100%;
                     }

                     .title{
                        @include ibl;
                        @include multi_nowrap;

                        padding: 4px 0px 4px 0;
                        max-height: 56px;
                        width: calc(100% - 60px);
                        line-height: 24px;

                        color: $color_fs_font-title;
                        font-size: 15px;
                        @include M1301() {
                           font-size: 14px;
                        }
                        i{
                           padding:  0 4px 0 0;
                        }
                     }

                     .icon{
                        @include tst;
                        margin:  0 0px 0px 0;
                        position: relative;
                        width: 25px;
                        max-height: 42px;
                        
                        .play_btn{
                           @include b;
                           @include aa;
                           cursor: pointer;
                           background: #fff;
                           width: 24px;
                           height: 24px;
                           border-radius: 50px;
                           @include tst;
                           transition-delay: .1s;
                           .triangle{
                              @include b;
                              @include atb;
                              position: absolute;
                              left: 10px;
                              height: 0;
                              width: 0;
                              border-style: solid;
                              border-width: 5px 0 5px 8px;
                              border-color: transparent transparent transparent #5e6f79;
                           }
                        }
                        .collapse{
                           @include b;
                           @include aa;
                           cursor: pointer;
                           width: 22px;
                           height: 22px;
                           border:solid 1px $color_fs_gray_2;
                           position: relative;
                           @include tst(.2s);
                           &:hover{
                              background: $color_fs_gray_3_fadeblue;
                              i{
                                 color: #fff;
                                 @include tst;
                              }
                           }
                           .square{
                              @include b;
                              @include arl;
                              top:5px;
                              position: absolute;
                              text-align: center;
                              font-weight: 600;
                              font-size: 12px;
                              @include tst(.2s);
                              i{
                                 @include tst(.2s);
                              }
                           }
                        }
                        .locker{
                           @include b;
                           @include aa;
                           cursor: pointer;
                           width: 24px;
                           height: 24px;
                           text-align: center;
                           i{
                              color:#5e6f79;
                             
                           }
                        }
                     }
                  }


               }

            }
         }
      }
   }

   .belt_blocks{
      @include b;
      width: 100%;
      background: $color_fs_orange;
      position: relative;
      z-index: 3;
      @include M1301(){
         padding: 35px 0 15px;
      }
         &:after{
               content:'';
               display: block;
               height: 0;
               clear: both;
               visibility: hidden;
         }
      .belt_blocks_container{
         @include flex-center;
         justify-content: space-evenly;
         flex-wrap: wrap;
         position: relative;
         width: 1300px;
         margin: 0 auto;
         @include M1301() {
            width: 100%;
         }
         > .belt_block{
            @include fxe;
            width: 220px;
            position: relative;
            @include M1301() {
               padding: 5px 0 15px;
               width: unset;
            }
            @include MCW(659px) {
               // &.time::after{
               //    display:  none;
               width: 33%;
            }
         }
         > .belt_elements{
            @include fxb;
            width: 660px;
            > .belt_block_item{
               @include ibl;
               width: 210px;
               @include M1301() {
                  width: 33%;
               }
               > .imagine_box{
                  @include ibl;
                  width: 100%;
                  position: relative;
                  padding: 5px 0 10px;
                  text-align: center;
                  @include M1301() {
                     width: 100%;
                     text-align: center;
                  }
                  > .title{
                     @include ibl;
                     width: 100%;;
                     color: $color_fs_brown;
                     font-weight: 600;
                     // padding: 0px 0 10px 0  ;
                     font-size: 15px;
                     height: 18px;
                     position: relative;
                     // margin: -25px 0 -18px 0;
                     margin: 0px 0 10px 0;
                     @include M1301() {
                        text-align: center;
                     }
                  }
                  > .imagine{
                     width: 100%;
                     @include ibl;
                     padding: 0px 0 0;
                     font-size: 2em;
                     color: #fff;
                     @include M1301() {
                        font-size: 26px;
                        padding: 5px 0 0 0;
                     }
                  }
               }
               > .count_box{
                  @include fxc;
                  flex-wrap: nowrap;
                  width: 100%;
                  @include M1301() {
                     justify-content: center;
                     max-width: 100%;
                     width: 100%;
                  }
                  > .count_item{
                     @include fxc;
                     > .number{
                        @include ib;
                        width:100%;
                        font-size: 2em;
                        padding:0px 0 10px; 
                        color: #fff;
                        text-align: center;
                        @include M1301() {
                           font-size: 1.4em;
                        }
                     }
                     > .subtitle{
                        @include ibl;
                        width:100%;
                        font-size: .9em;
                        color: #fff;
                        text-align: center;
                     }
                  }
               }
            }
         }
         > .price{
            @include bs(1px,1px,12px,rgba(63, 63, 63, 0.301));
            transform: skewX(-14deg) scale(1 , 1.1);
            background-color: #fff;
            overflow: hidden;
            width: auto;
            max-width: 250px;
            height: 160px;
            @include M1301() {
               min-width: 100%;
               transform: skewX(0deg) scale(1);
               height: unset;
               padding: 15px 0;
            }
            a{
               color: #fff;
            }
            .original__price__block{
               @include fxc;
               transform: skewX(14deg) scale(1 , 0.9);
               width: 100%;
               padding: 0 20px ;
               text-decoration: line-through;
               text-align: center;
               color: #b9b9b9;
               line-height: 20px;
               font-size: 20px;

               position: absolute;
               top: 20px;
               @include M1301() {
                  text-align: center;
                  transform: skewX(0deg);
                  padding: 0;
                  justify-content: center;
                  position: relative;
                  top: unset;
               }
               .original__price__title{
                  position: unset;
                  padding: 0px 5px;
               }
               .original__price__price{
                  @include ibl;
                  padding: 0px 5px;
                  // color: $color_fs_orange;
               }
            }
            .col{
               transform: skewX(14deg) scale(1 , 0.9);
               padding: 15px 20px;
               @include M1301() {
                  text-align: center;
                  transform: skewX(0deg);
                  padding: 0;
               }
               > .title{
                  position: unset;
                  width: 100%;
                  color: rgb(68, 68, 68);
                  line-height: 20px;
                  padding: 0px 0 6px 0;
                  @include M1301() {
                     padding: 6px 0 ;
                     font-size: 20px;
                  }
               }
               > .subtitle{
                  @include ibl;
                  width:100%;
                  font-size: 40px;
                  color: $color_fs_orange;
                  text-align: center;
               }
            }

         }
         > .buysoon{
            @include selection-none;
            width: 350px;
            padding: 0px 0 0 30px; 
            color: #fff;
            @include M1301() {
               width: auto;
               padding: 30px 0  5px;
            }
            a{
               color: #fff;
            }
            .col2{
               @include ibl;
               @include tst;
               border: 2px solid #fff;
               padding: 20px 0;
               height: 90px;
               cursor: pointer;
               @include MCW(580px) {
                  height: 70px;
                  padding: 12px 0  0;
               }
               &:hover{
                  background-color: #fff;

                  .title, .subtitle, .plus, .imagine{
                     color: $color_fs_orange;
                  }
                  .title{
                     font-weight: 600;
                  }
               }
               
            }
            .buy_box{
               width: 190px;
               > .title{
                  position: unset;;
                  text-align: center;
                  width: 100%;
                  color: #fff;
                  font-size: 22px;
                  font-weight: 600;
                  padding: 12px 0 ;
                  @include tst;
               }
               > .subtitle{
                  @include tst;
               }
            }
            .cart_box{
               margin-left: 10px;
               width: 100px;
               text-align: center;
               > .plus{
                  @include tst;
                  font-size: 18px;
                  font-weight: 600;
                  color: #fff;
               }
               > .imagine{
                  @include tst;
                  padding: 8px 0 0 0;
                  text-align: center;
                  width: 100%;
                  font-size: 20px;
                  color: #fff;
                  
               }
            }

         }
      }
   }

   .announcement_block{
      @include b;
      width: 100%;
      background-color: $color_fs_background_gray;
      padding: 40px 0px;
      position: relative;
      z-index:1;
      @include M1301() {
         padding: 10px 0px  ;
      }
      .announcement_control{
         @include ibl;
         width: 100%;
         position: relative;
         padding: 10px 0 0 0;
         background-color:$color_fs_background_gray;
         &.active{
            .controller{
               i{
                  margin:  3px 0px 0px  -15px;
               }
            }
         }
         .controller{
            @include b;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 35px;
            overflow: hidden;
            position: relative;
            padding: 10px 0 0;
            z-index:1;
            font-size: 14px;
            cursor: pointer;
            @include tst;
            &:hover{
               color: $color_fs_orange;
            }
            i{
               position: absolute;
               color: $color_fs_orange;
               margin:  -7px 0px 0px  -15px;
               font-size: 20px;
            }

            &::after{
               content:' ';
               position: absolute;
               z-index:3;
               @include b;
               @include arl;
               width: 100%;
               height: 8px;
               bottom:-8px;
               background: linear-gradient(to right,rgba(255, 255, 255, .2), rgb(0, 0, 0),rgb(0, 0, 0),rgb(8, 8, 8), rgba(255, 255, 255, .2));
               @include ds(1px,-6px,5px,rgb(255, 255, 255));
               background-blend-mode: lighten;
            }
         }
         &::after{
            content:' ';
            position: absolute;
            z-index: -1;
            @include b;
            @include arl;
            width: 100%;
            height: 3px;
            bottom:2px;
            background: linear-gradient(to right,rgba(255, 255, 255, .2), rgb(0, 0, 0), rgba(255, 255, 255, .2));
            @include ds(1px,1px,10px,rgba(0, 0, 0, 0.836));
         }
      }
      .announcement_container{
         @include flex-center;
         @include tst;
         justify-content: flex-start;
         flex-wrap: nowrap;;
         overflow: hidden;
         position: relative;
         width: 1300px;
         margin:  0 auto;
         height: 42px;
         @include M1301() {
            width: 100%;
            flex-wrap: wrap;
            height: 170px;
         }
         &.active{
            height: 100px;
            @include M1301() {
               height: 370px;
            }
            .content_list{
               padding: 0;
            }
         }
         
         .title_block{
            @include ibl;
            width: 170px;
            padding: 40px 20px 40px 15px;
            position: relative;
            @include M1301() {
               width: 100%;
               padding: 20px 0 ;
            }
            &::after{
               content:' ';
               @include b;
               top:50px;;
               width: 1px;
               height: 14px;
               position: absolute;
               right: 30px;
               background: #a8a8a8;
            }
            .title{
               @include ib;
               letter-spacing: 18px;
               font-weight: 600;
               text-align: center;
               font-size: 20px;
               color: $color_fs_font-title;
               @include M1301() {
                  width: 100%;
                  text-indent: 18px;
               }
            }
            .subtitle{
               @include ib;
               font-size: 13px;
               text-align: center;
               color: $color_fs_orange;
               @include M1301() {
                  width: 100%;
               }
            }

         }
         .content_list{
            @include ibl;
            width: 1000px;
            padding: 80px 0 0;
            @include tst;
            @include M1301() {
               width: 100%;
               padding: 10px 0 0;
            }
            .content_item{
               @include ibl;
               //@include nowrap;
               width: 100%;
               height: 36px;
               padding: 5px 0;
               font-size: 17px;
               color: rgb(56, 56, 56);
               position: relative;
               @include M1301() {
                  width: 100%;
                  height: unset;
                  padding: 10px 0;
               }
               &:not(:last-child)::after{
                  content:' ';
                  position: absolute;
                  @include b;
                  width: 100%;
                  height: 0px;
                  bottom:3px;
                  left: 5px;
                  border-color: #c9c9c9;
                  border-width: 0 0 1px 0;
                  border-style: dashed;
               }
               a{
                  color: rgb(75, 75, 75);
               }
               .date{
                  @include ibl;
                  padding: 0 10px ;
               }
               .lock{
                  @include ibl;
                  padding: 3px 15px  0 10px;
                  position: relative;
                  opacity: 0;
                  font-size: 12px;
                  &.show{
                     opacity: 1;
                  }
               }
               .content{
                  @include ibl;
                  line-height: 22px;
                  @include MCW(861px) {
                     width: 100%;
                     padding: 10px;
                  }
                  .tip{
                     padding: 0 5px;
                     a{
                        font-size: 16px;
                        color: $color_fs_blue;
                     }
                  }
               }
            }
         }
      }

   }

   .intro_block{
      @include ibl;
      width: 69%;
      @include M1301() {
         width: 100%;
      }
      .intro_tab_block{
         @include bl;
         width: 100%;
         max-width:870px;
         padding:  0 0 5px 0;
         z-index: 10;
         transition: 0s;
        
         
         @include MCW(1300px) {
            max-width:unset;
            left: 0;
         }
         @include MCW(780px) {
            left: 0px;
            top: 60px;
         }
         @include MCW(681px) {
            padding:  0 0 18px 0;
         }
         .intro_tab{
            @include iblw();
            background-color: $color_fs_background_gray;
            // width: 100%;
            position: relative;
            overflow: hidden;
            
            .tab_item{
               @include ibl;
               font-size: 1.15em;
               letter-spacing: 2px;
               width: auto;
               float: left;
               padding: 17px 38px ;
               font-weight: bold;
               text-align: center;
               position: relative;
               color:rgb(83, 83, 83);
               cursor: pointer;
               &:not(:last-child)::after{
                  content:' ';
                  @include b;
                  position: absolute;
                  width: 2px;
                  height: 20px;
                  right: 0px;
                  top: 0;
                  bottom: 0;
                  margin: auto 0;
                  transform: skew(-12deg,0);
                  background-color: #cccccc;
               }
               @include MCW(681px) {
                  padding: 15px 35px;
                  font-size: 1.05em;
                  // &:nth-child(odd)::after{
                  //    content:' ';
                  //    @include b;
                  //    position: absolute;
                  //    width: 1px;
                  //    height: 50%;
                  //    right: 0px;
                  //    top: 24px;
                  //    transform: skew(-12deg,0);
                  //    background-color: rgb(107, 107, 107);
                  // }
               }
               a:hover{
                  color:$color_fs_orange;
               }
               &.active{
                  color: $color_fs_orange;
                  &::before{
                     content:' ';
                     @include b;
                     @include arl;
                     position: absolute;
                     width: 80%;
                     height: 3px;
                     bottom: 1px;
                     background-color:$color_fs_orange;
                  }
               }
   
            }
            .swiper-button-prev,
            .swiper-button-next{
               box-shadow: 0 0 16px #00000050;
            }
            .swiper-button-disabled{
               opacity: 0;
            }
            .swiper-button-prev {
               background-image: url('../img/tab__prev.svg');
               left: 0;
            }
            .swiper-button-next{
               background-image: url('../img/tab__next.svg');
               right:0;
            }
         }
         hr{
            
         }
      }
      .course_tabtarget{
         width: 100%;
         display: none;
      }

   }

   .teacher_block{
      @include ibl;
      width: 30%;
      padding-left: 30px;
      @include rwd_dp();
      @include M1301() {
         width: 100%;
         padding: 10px 30px 40px;
      }
      @include MCW(580px) {
         width: 100%;
         padding: 10px 10px 20px;
      }
      .teacher_box{
         @include bs(5px ,5px, 15px, rgba(44, 44, 44, 0.116));
         @include b;
         background: #fff;
         margin: 0 auto;
         padding: 30px;
         text-align: center;
         @include MCW(781px) {
            padding: 15px;
         }
         .teacher_avatar{
            @include b;
            overflow: hidden;
            margin:  0 auto;
            width: 150px;
            height: 150px;
            border: 4px solid $color_fs_goose;
            border-radius: 100px;

         }
         .teacher_name{
            margin: 20px auto;
            font-size: 22px;
            color: $color_fs_orange;
         }
         .action_icons {
            @include fxc;
            width: 100%;

            a {
               @include ibl;
               color: #aaa;
               ;
               padding: 2px 8px;

               i {
                  font-size: 23px;
               }
            }
         }
         .teacher_intro{
            margin: 20px auto;
            color: $color_fs_gray_2;
            line-height: 30px;
            text-align: left;
         }
      }
   }

   .teacher__bottom__block{
      opacity: 1;
      position: relative;
      width: 30%;
      @include M1301() {
         width: 100%;
      }
      @include MCW(1170px) {
         position: unset;

         width: 100%;
      }
   }

   .course__share__block{
      @include fxfsw(348px);
      position: absolute;
      // right: 90px;
      top:50px;
      box-shadow: 0px 0px 20px #00000017;
      background-color: #ffffff;
      color: #555555;
      padding: 16px;
      opacity: 0;
      transition: 0s ease-in-out;
      z-index: 10;
      
      &.isfixed{
         opacity: 1;
         display: flex;
         position: fixed;
         top:100px;
         transition: .3s ease-in-out;
         &.dp-mob{
            display: none;
         }
         @include MCW(1170px) {
            top:unset;
            right:0px;
            box-sizing: border-box;
            left:0px;
            max-width: 100%;
            width: 100%;
            bottom: 0px;
            transition: 0s;
            padding: 5px;
            &.dp-mob {
               display: flex;
            }
            .course__share__buy__soon{
               max-width: 50%;
               padding: 8px 10px;
               margin: 5px 0;
            }
            .course__share__box ,
            .course__share__price {
               display: none;
            }
         }
      }
      .course__share__price{
         @include fxfsw();
         margin: 5px 0;
         font-size: 1.2em;
         .share__prive__title {
            padding: 0 5px 0 0;
         }
         &.main {
            font-size: 1.2em;
            .share__prive{
               font-size: 1.2em;
               color: $color_fs_orange;
            }

         }
         &.sub{
            font-size: .9em;
            color: #aaaaaa;
            text-decoration: line-through;
         }
      }
      .course__share__buy__soon{
         @include fxcw();
         border-radius: 4px;
         border: 1px solid #999999;
         padding: 10px 35px;
         margin: 10px 0;
         @include tst;
         i{
            padding:0 0 0 3px;
         }
         &:hover{
            background-color: $color_fs_orange;
            color: #ffffff;
            cursor: pointer;
            border:1px solid transparent;
         }
      }
      .course__share__box {
         padding: 4px;
         @include fxfsw();
         font-size: 1.2em;;
         filter:grayscale(1);
         -webkit-filter:grayscale(1);
         i{
            font-size: 1.25em;
            @include hover;
            margin: 0 8px;
            color: #999999;
         }
         .line{
            padding: 3px 0 0 0 ;
            width: 25px;
            height: 25px;
         }
      
      }
      .copy__href {
         @include fxfsw();
         margin: 10px 0;
         padding: 8px 6px;
         background-color: #eeeeee;
         border-radius: 4px;
         i{
            color: #888888;
         }
      }
      .link__btn{
         font-size: .9em;
         &.isactive{
            pointer-events: none;
         }
      }
      .link__box{
         @include fxfsw(calc(100% - 40px));
         overflow: hidden;
         font-size: .8em;
         color: #999999;
         min-height: 24px;
         max-height: 24px;
         min-width: calc(100% - 40px);
         border: 1px solid transparent;
         outline: none;
         background-color: transparent;
         &::selection{
            background: #cccccc;
            color: #ffffff;
         }
      }
   }

   .copy__success {
      @include fxcw(300px);
      background-color: #00000067;
      color: #ffffff;
      border-radius: 3px;
      padding: 10px;
      position: fixed;
      @include arl;
      top: 20vh;
      z-index: 10000;
      transition: .2s all ease-in;
      opacity: 0;

      &.isshow {
         display: flex;
         opacity: 1;
         transition: .5s all ease-out;
      }
   }
   .vjs-poster{
      background-color: transparent;
   }
   .video-js{
      background-color: transparent;
   }
}

.footer_container{
   padding-bottom:80px!important;
}




