@include resetCSS;

html{
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
   &::-webkit-scrollbar {
      width: 13px;
      background-color:rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }
   &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin:8px 0 ;
   }
   &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgb(163, 163, 163);
   }
}
body{
   overflow-x: hidden;
   overflow-y: scroll; 
}

a{
   text-decoration: none;
   @include tst;
   &:hover{
      opacity: .7;
   }
}
input{
   @include PlaceHolder-Style;
}
hr{
   @include bl;
   height: 1px;
   width: 100%;
   background-color: rgb(226, 226, 226);
   border: 0px;
   margin: 8px 0 ;;
}
button{
   @include selection-none;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
   background: $color_fs_orange;
   border: 0px solid #fff;
   cursor:pointer;
   color:#fff;
   outline:none;
   @include tst;
   border-radius: 5px;
   padding: 12px 40px;
   font-size: 16px;
   &:hover{
      opacity: .8;
   }
}

.bread_crumb_block{
   @include bl;
   width: 100%;
   line-height: 28px;
   @include M1301() {
      padding: 0 15px;
   }
   .bread_crumb{
      @include bl;
      width: 100%;
      .bread_crumb_item{
         @include ibl;

         margin: 0;
         padding:  0 10px 0 0px;
         .home{
            @include ibl;
            padding: 0px 10px 0 0;
            font-size: 16px;
            color: rgb(63, 63, 63);
         }
         .arrow{
            @include ibl;
            padding: 2px 12px 0 8px;
            font-size: 12px;
            color: $color_fs_gray;
         }

         &.bc_first{
         }
         &.bc_last{
            font-weight: 600;
         }
      }

   }
}
