@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* 變數 */
$color_font: #5a5a5a;
$color_main: #FF7757;
$color_link: #4370b3;
$color_bg: #f1f1f1;

/* MIXIN RWD */
@mixin media_xs {
	@media (max-width: 550px){
		@content;
	}
}
@mixin media_s {
	@media (max-width: 700px){
		@content;
	}
}

/* BASE */
*{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* 內容樣式 */
#CourseIntro{
   color: $color_font;
   line-height: 2em;
   // h3{
   //    display: block;
   //    width: 100%;
   //    height: auto;
   //    font-weight: 500;
   //    font-size: 23px;
   //    border-bottom: 1px solid #e2e2e2;
   //    padding-bottom: 8px;
   //    margin: 50px 0px 20px 0px;
   // }
   h4{
      display: block;
      width: 100%;
      height: auto;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.2em;
      border-left: 4px solid $color_main;
      padding: 0px 0px 0px 10px;
      margin: 30px 0px 20px 0px;
   }
   p{
      margin: 0px 0px 20px 0px;
   }
   a{
      color: $color_link;
      text-decoration: underline;
      &:hover{text-decoration: none;}
   }
   > ul, > ol{margin-bottom: 20px;}
   ul{
      list-style: inside;
      list-style-type: disc;
      text-indent: -1em;
      margin-left: 2em;
      ul{
         list-style-type: circle;
         ul{list-style-type: square;}
      }
      p{margin: 0px;}
   }
   ol{
      list-style: inside;
      list-style-type: decimal;
      text-indent: -1em;
      margin-left: 2em;
      ol{
         list-style-type: upper-alpha;
         ol{list-style-type: lower-alpha;}
      }
      p{margin: 0px;}
   }
   .table_rwd{
      width: 100%;
      height: auto;
      @include media_xs{
         overflow: auto;
         table{
            width: 600px;
         }
         tr{
            th:first-child{
               width: 15%;
               position: -webkit-sticky;
               position: sticky;
               z-index: 1;
               left: 0px;
            }
         }
      }
   }
   table{
      width: 100%;
      height: auto;
      font-size: 16px;
      margin-bottom: 20px;
      ul, ol{margin-bottom: 0px;}
   }
   thead{
      th{background-color: #eaeaea;}
   }
   tbody{
      th{background-color: $color_bg;}
   }
   th, td{
      border: 1px solid #d0d0d0;
      padding: 5px;
   }
   th{
      line-height: 1.2em;
      text-align: center;
      vertical-align: middle;
   }
   img{
      display: inline-block;
      max-width: 100%;
      height: auto;
      &.full{
         display: block;
         width: 100%;
         height: auto;
      }
      @include media_s{
         width: 100%;
         height: auto;
      }
   }
   ::-webkit-scrollbar {
      width: 13px;
   }
   ::-webkit-scrollbar-track {
      -webkit-border-radius: 15px;
      border-radius: 15px;
      margin:20px 0 20px 0;
   }
   ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 1);
   }
}

/*灰框*/
.style-tb{
   width: 96%;
   height: auto;
   text-align: center;
   background-color: #E5E3E4;
   padding: 5%;
   margin: 15px auto;
}

/*加星號*/
[class^="star"]:after{
   content: "";
   font-size: 0.7em;
   opacity: 0.3;
   margin-left: 5px;
}
.star5:after{content: "★★★★★";}
.star4:after{content: "★★★★";}
.star3:after{content: "★★★";}
.star2:after{content: "★★";}
.star1:after{content: "★";}

/*錨點高於選單*/
:target:before {
   content: "";
   display: block;
   height: 90px;
   position: relative;
   margin-top: -90px;
}

/*影片*/
.film{
   width: 100%;
   height: 0px;
   padding-bottom: 56.25%;
   position: relative;
   margin-bottom: 20px;
   > iframe{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
   }
}

/* 工具 */
.color{
   &1{
      color: $color_main;
   }
   &2{
      color: black;
   }
}
.f{
   &wB{font-weight: bold;}
   &zBigger{font-size: 1.2em;}
   &zSmaller{font-size: 0.8em;}
}
#CourseIntro{
   .rwd,img.rwd{
      &Pc{
         @include media_xs{
            display: none;
         }
      }
      &Mob{
         display: none;
         @include media_xs{
            display: block;
         }
      }
   }
}
