
.intro_block{
   #CourseIntro{
      @include bl;
      color: $color_fs_font;
      line-height: 30px;
      >h2, > .style-h2{
         @include bl;
         width: 100%;
         font-weight: 600;
         font-size: 19px;
         letter-spacing: 10px;
         color: $color_fs_font-title;
         margin: 15px 0 ;
      }
      >p, > .style-p{
         @include bl;
         width: 100%;
         line-height: 30px;
         margin: 15px 0 25px;
      }
      > .style-tb{
         @include bl;
         padding: 15px 30px;
         width: 100%;
         > div{
         @include bl;
         padding: 25px 30px;
         background-color: #E5E3E4;
         }
      }
      >ul, > .style-ul{
         @include bl;
         width: 100%;
      }
   }
}